/***********
 * toolbar *
 ***********/
toolbar {
    padding: 4px;
    border-style: none;
    background-color: transparent;
    background-size: 100% 100%;
    background-image: linear-gradient(to right, #4f88d6 2%, #64a1e8 13.8%, #70b0f3 27%, #70b0f3 73%, #64a1e8 86.2%, #4f88d6 98%);
    color: @toolbar_fg_color;
}

toolbar:backdrop {
/* BUG: No load image on norm state */
/*    background-image: linear-gradient(to top, #4f88d6);*/
}

toolbar button {
    padding: 4px 4px;
}

toolbar button.text-button {
    padding: 2px 4px;
}

toolbar button image-button {
    padding: 4px 3px 3px 4px;
}

toolbar:disabled {
    background-color: shade(@toolbar_bg_color, 0.9);
    color: mix(@toolbar_fg_color, @toolbar_bg_color, 0.5);
}

/* menubar toolbars */
toolbar menubar {
    -GtkToolbar-button-relief: normal;
}
