/**************
 * spinbutton *
 **************/
.spinbutton .button {
    color: mix(@theme_text_color, @theme_base_color, 0.4);
    padding: 2px 4px;
    border-width: 0;
    border-radius: 0;
    border-style: none;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 1px 0 shade(@theme_base_color, 0.9);
}

.spinbutton .button:insensitive {
    color: mix(@theme_text_color, @theme_base_color, 0.7);
    box-shadow: inset 1px 0 shade(@theme_bg_color, 0.95);
}

.spinbutton .button:active,
.spinbutton .button:hover {
    color: @theme_fg_color;
}

.spinbutton .button:first-child {
    border-radius: 0;
    box-shadow: none;
}

.spinbutton .button:last-child {
    border-radius: 0;
}

.spinbutton .button:dir(rtl) {
    box-shadow: inset -1px 0 shade(@theme_base_color, 0.9);
}

.spinbutton.vertical .button {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0px;
    background-color: shade(@theme_bg_color, 1.08);
    background-image: none;
    color: @theme_fg_color;
    box-shadow: none;
}

.spinbutton.vertical .button:hover {
    border-color: shade(@theme_bg_color, 0.7);
    background-color: shade(@theme_bg_color, 1.10);
    background-image: none;
}

.spinbutton.vertical .button:active {
    border-color: shade(@theme_bg_color, 0.8);
    background-color: shade(@theme_bg_color, 0.95);
    background-image: none;
}

.spinbutton.vertical .button:active:hover {
    border-color: shade(@theme_bg_color, 0.7);
}

.spinbutton.vertical .button:focus,
.spinbutton.vertical .button:hover:focus,
.spinbutton.vertical .button:active:focus,
.spinbutton.vertical .button:active:hover:focus {
    border-color: shade(@theme_bg_color, 0.7);
}

.spinbutton.vertical .button:insensitive {
    border-color: shade(@theme_bg_color, 0.85);
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
}

.spinbutton.vertical .button:first-child {
    border-width: 1px;
    border-bottom-width: 0;
    border-radius: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.spinbutton.vertical .button:last-child {
    border-width: 1px;
    border-top-width: 0;
    border-radius: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.spinbutton.vertical.entry {
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
}
