/**************
 * header-bar *
 **************/
.header-bar {
    padding: 4px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: shade(@titlebar_bg_color, 0.8);
    background-color: @titlebar_bg_color;
    background-image: none;
    color: @titlebar_fg_color;
}

.header-bar .button.text-button {
    padding: 4px;
}

.header-bar .button.image-button {
    padding: 6px;
}

.header-bar .title {
    font: bold;
    padding: 0 12px;
}

.header-bar .subtitle {
    font: smaller;
    padding: 0 12px;
}

.header-bar GtkComboBox,
.header-bar .button {
    border-color: shade(@titlebar_bg_color, 0.8);
    background-color: shade(@titlebar_bg_color, 1.0);
    background-image: none;
    color: @titlebar_fg_color;
}

.header-bar .button:hover {
    border-color: shade(@titlebar_bg_color, 0.7);
    background-color: shade(@titlebar_bg_color, 1.10);
    background-image: none;
}

.header-bar .button:active {
    border-color: shade(@titlebar_bg_color, 0.8);
    background-color: shade(@titlebar_bg_color, 0.90);
    background-image: none;
}

.header-bar .button:active:hover {
    border-color: shade(@titlebar_bg_color, 0.7);
    background-color: shade(@titlebar_bg_color, 0.98);
}

.header-bar .button:focus,
.header-bar .button:hover:focus,
.header-bar .button:active:focus,
.header-bar .button:active:hover:focus {
    border-color: shade(@titlebar_bg_color, 0.7);
}

.header-bar .button:insensitive {
    border-color: shade(@titlebar_bg_color, 0.85);
    background-color: shade(@titlebar_bg_color, 0.9);
    background-image: none;
}

.header-bar .button:active *:insensitive {
    border-color: shade(@titlebar_bg_color, 0.75);
    background-color: shade(@titlebar_bg_color, 0.80);
    background-image: none;
}

.header-bar .entry {
    border-color: shade(@titlebar_bg_color, 0.8);
}

.header-bar .entry:active,
.header-bar .entry:focus {
    border-color: shade(@titlebar_bg_color, 0.7);
}
