/*****************
 * Progress bars *
 *****************/
GtkProgressBar {
  -GtkProgressBar-min-horizontal-bar-height: 20;
  -GtkProgressBar-min-vertical-bar-width: 22;
  font-size: smaller;
  color: rgba(0, 0, 0, 0.4); }
  GtkProgressBar.osd {
    -GtkProgressBar-xspacing: 0;
    -GtkProgressBar-yspacing: 0;
    -GtkProgressBar-min-horizontal-bar-height: 3; }
  GtkProgressBar.trough {
    border: 1px solid #686868;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: inset 0.5px 0.5px 0px 1.5px #efefef, inset 1px 1px #bebebe;
    padding: 3px 4px; }
    GtkProgressBar.trough.vertical {
      border: 1px solid #686868;
      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: inset 0.5px 0.5px 0px 1.5px #efefef, inset 1px 1px #bebebe;
      padding: 4px 3px; }
    GtkProgressBar.trough.osd {
      border-style: none;
      background-color: transparent;
      box-shadow: none; }

.progressbar {
  background-image: linear-gradient(to right, transparent, transparent 37.5%, white 37.5%, white 50%, transparent 50%, transparent 87.5%, white 87.5%, white 100%), linear-gradient(to bottom, #ffb180 0%,
                                                 #f88b48 50%,
                                                 #ea7d3a 51%,
                                                 #b94c09 78%);
  background-size: 16px 16px, auto;
  border: none;
  border-radius: 0px;
  box-shadow: none; }
  .progressbar.vertical {
    background-image: linear-gradient(to bottom, transparent, transparent 37.5%, white 37.5%, white 50%, transparent 50%, transparent 87.5%, white 87.5%, white 100%), linear-gradient(to right, #ffb180 0%,
                                                 #f88b48 50%,
                                                 #ea7d3a 51%,
                                                 #b94c09 78%);
    background-size: 16px 16px, auto; }

/************
 * Levelbar *
 ************/

/* level bars as used for password quality or remaining power */
GtkLevelBar {
    -GtkLevelBar-min-block-width: 34;
    -GtkLevelBar-min-block-height: 2;
}

GtkLevelBar.vertical {
    -GtkLevelBar-min-block-width: 2;
    -GtkLevelBar-min-block-height: 34;
}

.level-bar.trough {
    padding: 1px;
    border-radius: 2px;
}

.level-bar.fill-block {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @theme_selected_bg_color;
}

.level-bar.indicator-continuous.fill-block {
    padding: 1px;
    border-radius: 2px;
}

.level-bar.indicator-discrete.fill-block.horizontal {
    margin: 0 1px;
}

.level-bar.indicator-discrete.fill-block.vertical {
    margin: 1px 0;
}

/* discrete indicator border rounding,
   uncomment when :nth-child will be working
   on the widget

.level-bar.indicator-discrete.fill-block.horizontal:first-child {
    border-radius: 2px 0 0 2px;
}

.level-bar.indicator-discrete.fill-block.horizontal:last-child {
    border-radius: 0 2px 2px 0;
}

.level-bar.indicator-discrete.fill-block.vertical:first-child {
    border-radius: 2px 2px 0 0;
}

.level-bar.indicator-discrete.fill-block.vertical:last-child {
    border-radius: 0 0 2px 2px;
}
*/

.level-bar.fill-block.level-high {
    border-color: shade(@success_color, 0.85);
    background-image: linear-gradient(to bottom,
                                      shade(@success_color, 1.2),
                                      @success_color 75%,
                                      shade(@success_color, 0.95)
                                      );
}

.level-bar.fill-block.level-low {
    border-color: shade(@warning_color, 0.80);
    background-image: linear-gradient(to bottom,
                                      shade(@warning_color, 1.3),
                                      @warning_color 75%,
                                      shade(@warning_color, 0.9)
                                      );
}

.level-bar.fill-block.empty-fill-block {
    border-color: alpha(@theme_fg_color, 0.1);
    background-color: transparent;
    background-image: none;
}
