/****************
 * cell and row *
 ****************/
.cell {
    border-width: 0;
    border-radius: 0;
}

.cell:selected,
.cell:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

row { padding: 4px; }

row:selected,
row:selected:hover,
row:selected:focus {
    -GtkWidget-focus-padding: 1;
    -GtkWidget-focus-line-width: 0;

    border-width: 1px 0;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_selected_fg_color;
}

/*******************
 * check and radio *
 *******************/
check,
radio,
check:disabled,
radio:disabled {
    border-style: none;
    background-color: transparent;
}

checkbutton:hover,
checkbutton:active:hover,
checkbutton:selected,
checkbutton:selected:focus {
    background-color: transparent;
}

/*****************
 * column-header *
 *****************/
treeview header button,
treeview header button:active {
    border-width: 0 1px 1px 0;
    border-radius: 0;
}

treeview header button,
treeview header button:active,
treeview header button:focus,
treeview header button:active:focus {
    border-color: shade(@theme_base_color, 0.9);
    border-bottom-color: shade(@theme_base_color, 0.8);
    background-color: shade(@theme_base_color, 0.97);
    background-image: none;
}

treeview header button:hover,
treeview header button:active:hover,
treeview header button:hover:focus,
treeview header button:active:hover:focus {
    border-color: shade(@theme_base_color, 0.9);
    border-bottom-color: shade(@theme_base_color, 0.8);
    background-color: shade(@theme_base_color, 0.99);
    background-image: none;
}

column-header:last-child button {
    border-width: 0 0 1px 0;
}

/****************
 * content view *
 ****************/
.content-view.view {
    background-color: @theme_base_color;
}

.content-view.view:prelight {
    background-color: alpha(@theme_selected_bg_color, 0.6);
}

.content-view.view:selected,
.content-view.view:active {
    background-color: @theme_selected_bg_color;
}

.content-view.view:disabled {
    background-color: shade(@theme_base_color, 0.9);
}

.content-view {
    --icon-size: 40;
}

view.content-viewcheck {
    background-color: transparent;
}

view.content-viewcheck:active {
    background-color: transparent;
}

.content-view.viewcheck,
.content-view.viewcheck:active {
    background-color: transparent;
}

view.content-viewcheck:prelight,
view.content-viewcheck:disabled,
view.content-viewcheck:selected {
    background-color: transparent;
}

/****************
 * drawing area *
 ****************/
GtkDrawingArea {
    background-color: @theme_base_color;
}

GtkDrawingArea:disabled {
    background-color: shade(@theme_base_color, 0.9);
}

/***********
 * gtkhtml *
 ***********/
GtkHTML {
    background-color: @theme_base_color;
    color: @theme_text_color;
}

/***********
* calendar *
************/
calendar {
    padding: 4px;
}

calendar:indeterminated {
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

calendar.view,
calendar.header,
calendarbutton,
calendarbutton:hover,
calendarbutton:disabled {
    border-width: 0;
    background-color: transparent;
    background-image: none;
}

highlight,
calendar.highlight {
    border-width: 0;
    background-color: transparent;
    color: @theme_selected_bg_color;
}

