
/*************
 * separator *
 *************/
.sidebar.view separator,
.separator,
.view separator,
.separator,
separator,
.separator {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.9);
    color: shade(@theme_bg_color, 0.9);
}

button separator,
.separator,
button separator,
.separator {
    border-color: shade(@theme_bg_color, 0.95);
}

button separator,
.separator:disabled,
button separator,
.separator:disabled {
    border-color: shade(@theme_bg_color, 0.85);
}

.primary-toolbar GtkSeparatorToolItem,
.primary-toolbar separator,
.separator,
.primary-toolbar separator,
.separator:disabled,
toolbar GtkSeparatorToolItem,
toolbar separator,
.separator,
toolbar separator,
.separator:disabled {
    -GtkWidget-window-dragging: true;

    border-color: shade(@toolbar_bg_color, 0.95);
    color: shade(@toolbar_bg_color, 0.95);
}

headerbar GtkSeparatorToolItem,
headerbar.titlebar GtkSeparatorToolItem,
headerbar.titlebar separator,
.separator,
headerbar.titlebar separator,
.separator:disabled {
    -GtkWidget-window-dragging: true;
    border-color: shade(@titlebar_bg_color, 0.95);
    color: shade(@titlebar_bg_color, 0.95);
}

