/**********
 * switch *
 **********/
GtkSwitch {
    padding: 0;
    border-radius: 0px;
    font: bold condensed;
}

GtkSwitch.slider {
    background-image: linear-gradient(to bottom, shade (#ebebeb, 1.00) 50%,
                                     shade (#dddddd, 1.00) 51%,
                                     shade (#cfcfcf, 1.05));
    border: 1px solid #7e7e7e;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px white;
}

GtkSwitch.slider:insensitive {
    border-color: shade(@theme_bg_color, 0.85);
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
}

GtkSwitch.trough {
    border-color: shade(@theme_bg_color, 0.8);
    background-color: shade(@theme_bg_color, 0.95);
    background-image: none;
    color: @theme_fg_color;
}

GtkSwitch.trough:active {
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_selected_fg_color;
}

GtkSwitch.trough:insensitive {
    border-color: shade(@theme_bg_color, 0.85);
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

