
/********
 * menu *
 ********/
treemenu menu,
toolbutton menu,
combobox menu {
    background-color: @menu_bg_color;
}

.primary-toolbar menu,
toolbar.primary-toolbar button menu,
toolbar menu,
toolbar .primary-toolbar menu,
headerbar menu,
headerbar .primary-toolbar menu,
menu {
    padding: 4px;
    border-radius: 0;
    border: 1px solid black;
    background-color: @menu_bg_color;
    color: @menu_fg_color;
    box-shadow: none;
}

/* Hover-effect on play-button in ubuntu soundmenu */
menu:selected {
    background-color: @selected_bg_color;
}

menu button,
.menu button:hover,
menu button,
.menu button:active,
menu button,
.menu button:active *:disabled,
menu button,
.menu button:disabled,
menu button,
.menu button {
    border-width: 0;
    background-color: @menu_bg_color;
    background-image: none;
}

.context-menu {
    font: initial;
}

/* ubuntu software center menu */
#toolbar-popup {
    background-color: @menu_bg_color;
    color: @menu_fg_color;
}

/***********
 * menubar *
 ***********/
menubar {
    -GtkWidget-window-dragging: true;

    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: shade(@menubar_bg_color, 0.8);
    background-color: @menubar_bg_color;
    background-size: 100% 100%;
    background-image: url('titlebar/focused.png');
    color: @menubar_fg_color;
}

menubar:backdrop
{
    background-image: url('titlebar/backdrop.png');
}


