/***************
 * progressbar *
 ***************/
progressbar {
    padding: 0;
    border-width: 1px;
    border-radius: 8px;
}

progressbar trough,
progressbar progress {
    min-height: 4px;
}

progressbar.vertical trough,
progressbar.vertical progress {
    min-height: 0;
    min-width: 4px;
}

progressbar progress {
    border: none;
    border-radius: 3px;
    background-image: image(@theme_selected_bg_color);
}

trough {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: shade(@theme_bg_color, 0.8);
    background-color: shade(@theme_bg_color, 1.08);
    background-image: none;
}

/* levelbar */
levelbar trough {
    padding: 1px;
    border-radius: 0px;
    background-color: shade(@theme_bg_color, 0.85);
    border: 1px solid shade(@theme_bg_color, 0.5);
}

levelbar block {
    border-width: 1px;
    border-style: solid;
    padding: 1px;
    border-radius: 0px;
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @theme_selected_bg_color;
}

levelbar. block.horizontal {
    margin: 0 1px;
}

levelbar. block.vertical {
    margin: 1px 0;
}

levelbar block.high {
    border-color: shade(@success_color, 0.85);
    background-image: linear-gradient(to bottom,
                                      shade(@success_color, 1.2),
                                      @success_color 75%,
                                      shade(@success_color, 0.95)
                                      );
}

levelbar block.low {
    border-color: shade(@warning_color, 0.80);
    background-image: linear-gradient(to bottom,
                                      shade(@warning_color, 1.3),
                                      @warning_color 75%,
                                      shade(@warning_color, 0.9)
                                      );
}

levelbar block.empty {
    border-color: alpha(@theme_fg_color, 0.1);
    background-color: transparent;
    background-image: none;
}
