/************
 * notebook *
 ************/
notebook {
    background-color: @theme_base_color;
    background-image: none;
    border-radius: 0;
    padding: 0;
    border-color: shade (@theme_bg_color, 0.82);
    border-width: 1px;
    border-style: solid;
}

notebook > frame {
    border-width: 1px;
}

notebook > header {
    border-width: 0;
    background-color: @theme_base_color;
}

notebook > header > frame {
    border-color: @theme_base_color;
    box-shadow: none;
}

notebook tab {
    background-image: none;
    border: none;
    padding: 4px 12px;
    border-radius: 0px;
    box-shadow: none;
}

notebook tab:checked {
    background-image: none;
    color: @highlight_color;
}

notebook tab label {
    /*padding: 1px;*/
    padding: 4px 8px 4px 8px;
}

notebook tab {
    color: shade(@theme_bg_color, 0.48);
}

notebook header.top tab {
    box-shadow: inset 0 -2px shade(@theme_bg_color, 0.75);
}

notebook header.top tab:checked {
    box-shadow: inset 0 -2px @highlight_color;
}

notebook header.right tab {
    box-shadow: inset 2px 0 shade(@theme_bg_color, 0.75);
}

notebook header.right tab:checked {
    box-shadow: inset 2px 0 @highlight_color;
}

notebook header.bottom tab {
    box-shadow: inset 0 2px shade(@theme_bg_color, 0.75);
}

notebook header.bottom tab:checked {
    box-shadow: inset 0 2px @highlight_color;
}

notebook header.left tab {
    box-shadow: inset -2px 0 shade(@theme_bg_color, 0.75);
}

notebook header.left tab:checked {
    box-shadow: inset -2px 0 @highlight_color;
}

notebook tab button {
    padding: 0;
}

notebook drawingarea {
    background-color: shade (@bg_color, 1.02);
}

notebook > frame {
    border-width: 1px;
}

/* close button styling */
notebook tab button,
notebook tab button:checked,
notebook tab button:hover {
    padding: 1px;
    border-width: 1px;
    border-radius: 8px;
    border-style: solid;
    border-color: transparent;
    background-image: none;
    background-color: transparent;
    color: mix(@theme_text_color, @theme_base_color, 0.5);
}

notebook tab button:hover {
    color: @theme_text_color;
    border-color: shade(@theme_base_color, 0.8);
}

notebook tab button:checked,
notebook tab button:checked:hover {
    border-color: shade(@theme_base_color, 0.7);
    background-color: shade(@theme_base_color, 0.95);
}
