/**************
 * spinbutton *
 **************/
spinbutton {
    color: mix(@theme_text_color, @theme_base_color, 0.4);
    padding: 2px 4px;
    border-width: 0;
    border-radius: 0;
    border-style: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

spinbutton:disabled {
    color: mix(@theme_text_color, @theme_base_color, 0.7);
}

spinbutton.horizontal entry {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 7px 15px;
}

spinbutton.horizontal button.down {
    border-radius: 0;
    border-right-width: 0;
    border-left-width: 0;
    box-shadow: none;
    margin-right: 0;
}

spinbutton.horizontal button.up {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    box-shadow: none;
}

spinbutton.vertical entry {
    border-radius: 0;
    box-shadow: none;
}

spinbutton.vertical button.up {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
    box-shadow: none;
}

spinbutton.vertical button.down {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
    box-shadow: none;
}

spinbutton:not(.vertical) selection:focus, spinbutton:not(.vertical) selection {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}
