/*******
 * CSD *
 *******/
.titlebar {
    border-radius: 0;
    background-color: @titlebar_bg_color;
    background-image: none;
    color: @titlebar_fg_color;
}

.titlebar:backdrop {
    color: mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
    text-shadow: none;
}

.titlebar .title {
    font-weight: bold;
}

.titlebar .titlebutton {
    padding: 1px;
    border: none;
    box-shadow: none;
    background: none;
    color: @titlebar_fg_color;
    icon-shadow: none;
}

.titlebar .titlebutton:backdrop {
    background-image: none;
    color: mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
    icon-shadow: none;
}

/* alternative titlebar */
.csd .titlebar:not(headerbar),
.csd .default-decoration.titlebar {
    border-radius: 0;
    background-image: image(@titlebar_bg_color);
    color: @titlebar_fg_color;
}

.csd .titlebar:not(headerbar):backdrop,
.csd .default-decoration.titlebar:backdrop {
    color: shade(@titlebar_fg_color, 1.15);
}

/* CSD alternative decoration */
.csd headerbar,
headerbar.default-decoration,
.csd .titlebar:not(headerbar),
.csd headerbar.default-decoration,
.csd .default-decoration.titlebar {
    min-height: 32px;
    border: none;
}

.csd headerbar:backdrop,
headerbar.default-decoration:backdrop,
.csd .titlebar:not(headerbar):backdrop,
.csd headerbar.default-decoration:backdrop,
.csd .default-decoration.titlebar:backdrop {
    border: none;
}

/* tooltip decoration */
decoration.csd tooltip {
    border-radius: 0;
}
