/*******
 * CSD *
 *******/
.titlebar {
    border-radius: 8px 8px 0 0;
    background-color: transparent;
    background-image: url('assets/titlebar-focused-middle.png');
    background-size: 100% 100%;
    color: mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
    text-shadow: none;
}

.titlebar:backdrop {
    background-color: transparent;
    background-image: url('assets/titlebar-unfocused-middle.png');
    background-size: 100% 100%;
}

.titlebar .title {
    font-weight: bold;
}

.titlebar .titlebutton {
    padding: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: #4d73c3;
    background: linear-gradient(to bottom, #84b4e6, #628bc7);
    box-shadow: inset 0 0 1px 0 #9ec2ea;
    color: white;
    icon-shadow: none;
}

.titlebar .titlebutton:hover,
.titlebar .titlebutton:hover:focus {
    background: none;
    border-color: #1c4988;
    color: white;
}

.titlebar .titlebutton:active,
.titlebar .titlebutton:active:hover {
    background: none;
    border-color: #285a96;
    color: white;
    box-shadow: none;
}

.titlebar .titlebutton:backdrop {
    background-image: none;
    background-color: transparent;
    color: white;
    border-color: #285a96;
    icon-shadow: none;
}

.titlebar .titlebutton.close {
    background-image: linear-gradient(to bottom, #dc644d, #dc3f1b, #e7826e);
    color: white;
}

.titlebar .titlebutton.close:hover {
    background-image: linear-gradient(to bottom, #db8d7a, #db491f, #eda48e);
    color: white;
}

decoration {
    border-radius: 8px 8px 0 0;
}

/* alternative titlebar */
.csd .titlebar:not(headerbar),
.csd .default-decoration.titlebar {
    border-radius: 8px 8px 0 0;
    background-color: transparent;
    background-image: url('assets/titlebar-focused-middle.png');
    background-size: 100% 100%;
    color: @titlebar_fg_color;
}

.csd .titlebar:not(headerbar):backdrop,
.csd .default-decoration.titlebar:backdrop {
    background-image: url('assets/titlebar-unfocused-middle.png');
    color: shade(@titlebar_fg_color, 1.15);
}

/* CSD alternative decoration */
.csd headerbar,
headerbar.default-decoration,
.csd .titlebar:not(headerbar),
.csd headerbar.default-decoration,
.csd .default-decoration.titlebar {
    min-height: 32px;
    border-radius: 8px 8px 0 0;
    background-color: transparent;
    background-image: url('assets/titlebar-focused-middle.png');
    background-size: 100% 100%;
}

.csd headerbar:backdrop,
headerbar.default-decoration:backdrop,
.csd .titlebar:not(headerbar):backdrop,
.csd headerbar.default-decoration:backdrop,
.csd .default-decoration.titlebar:backdrop {
    border: none;
    background-image: url('assets/titlebar-unfocused-middle.png');
}

/* tooltip decoration */
decoration.csd tooltip {
    border-radius: 4px;
}
