/*******
 * CSD *
 *******/
.titlebar {
    border-radius: 8px 8px 0 0;
    background-color: transparent;
    background-image: url('titlebar/focused.png');
    background-size: 100% 100%;
    color: mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
    text-shadow: none;
}

.titlebar:backdrop {
    background-color: transparent;
    background-image: url('titlebar/backdrop.png');
    background-size: 100% 100%;
}

.titlebar .title {
    font-weight: bold;
}

.titlebar .titlebutton {
    padding: 0px;
    border: none;
}

decoration {
    border-radius: 8px 8px 0 0;
}

/* alternative titlebar */
.csd .titlebar:not(headerbar),
.csd .default-decoration.titlebar {
    border-radius: 8px 8px 0 0;
    background-color: transparent;
    background-image: url('titlebar/focused.png');
    background-size: 100% 100%;
    color: @titlebar_fg_color;
}

.csd .titlebar:not(headerbar):backdrop,
.csd .default-decoration.titlebar:backdrop {
    background-image: url('titlebar/backdrop.png');
    color: shade(@titlebar_fg_color, 1.15);
}

/* CSD alternative decoration */
.csd headerbar,
headerbar.default-decoration,
.csd .titlebar:not(headerbar),
.csd headerbar.default-decoration,
.csd .default-decoration.titlebar {
    min-height: 32px;
    border-radius: 8px 8px 0 0;
    background-color: transparent;
    background-image: url('titlebar/focused.png');
    background-size: 100% 100%;
}

.csd headerbar:backdrop,
headerbar.default-decoration:backdrop,
.csd .titlebar:not(headerbar):backdrop,
.csd headerbar.default-decoration:backdrop,
.csd .default-decoration.titlebar:backdrop {
    border: none;
    background-image: url('titlebar/backdrop.png');
}

/* tooltip decoration */
decoration.csd tooltip {
    border-radius: 4px;
}
