/*******
 * CSD *
 *******/
headerbar,
headerbar.titlebar {
    border-radius: 0;
    background-color: @titlebar_bg_color;
    background-image: url('window/titlebar.png');
    background-position: right;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: @titlebar_fg_color;
    box-shadow: inset 0 -2px rgba(0,0,0,0.15);
}

headerbar.titlebar .title,
headerbar.titlebar .subtitle {
    text-shadow: 1px 1px rgba(0,0,0,0.8);
}

headerbar.titlebar .title:backdrop,
headerbar.titlebar .subtitle:backdrop {
    text-shadow: none;
}

headerbar:backdrop,
headerbar.titlebar:backdrop {
    background-image: none;
    background-color: shade(@titlebar_bg_color, 0.65);
    color: mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
    text-shadow: none;
}

headerbar.titlebar.default-decoration {
    border: none;
    box-shadow: none;
}

.tiled headerbar.titlebar {
    border-radius: 0;
}

.maximized headerbar.titlebar {
    border-radius: 0;
}

headerbar.titlebar.default-decoration {
    border: none;
    box-shadow: none;
}

headerbar.titlebar .title {
    font: bold;
}

headerbar button.titlebutton {
    padding: 1px;
    border: 1px solid mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
    box-shadow: none;
    background: none;
    color: #ccdcf5;
    icon-shadow: none;
}

headerbar button.titlebutton:hover,
headerbar button.titlebutton:hover:focus {
    background: none;
    border: 1px solid mix(@titlebar_fg_color, @titlebar_bg_color, 0.25);
    color: mix(@titlebar_fg_color, @titlebar_bg_color, 0.25);
}

headerbar button.titlebutton:active,
headerbar button.titlebutton:active:hover {
    background: none;
    color: mix(@titlebar_fg_color, @titlebar_bg_color, 0.25);
    box-shadow: none;
    border: 1px solid mix(@titlebar_fg_color, @titlebar_bg_color, 0.15);
}

headerbar button.titlebutton:backdrop {
    background-image: none;
    color: mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
    icon-shadow: none;
}

decoration {
    border-style: none;
    border-radius: 0;
    box-shadow: 0 3px 7px 1px alpha(black, 0.7);

    /* this is used for the resize cursor area */
    margin: 10px;
}

.tiled decoration {
    border-radius: 0;
}

decoration:backdrop {
    box-shadow: 0 6px 6px 1px alpha(black, 0.5);
}

/* Server-side decoration (SSD) */
.ssd decoration {
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18); 
}

.ssd decoration,
.ssd decoration:backdrop {
    background-color: @titlebar_bg_color;
}

/* Client-side Decorations (CSD)*/
decoration.csdtooltip,
tooltip {
    border-radius: 0;
    box-shadow: none; 
}

messagedialog.csd decoration {
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13); 
}

.solid-csd decoration {
     border: solid 1px shade(@bg_color, 0.8);
     border-radius: 0;
     margin: 2px;
     background-color: @titlebar_bg_color;
     box-shadow: none; 
}
