
/**************
 * header-bar *
 **************/
headerbar {
    padding: 4px 4px;
    border-width: 0;
    border-style: solid;
    border-color: shade(@titlebar_bg_color, 0.8);
    color: @titlebar_fg_color;
    background-color: transparent;
    background-size: cover;
    background-image: linear-gradient(to right, #4f88d6 2%, #64a1e8 13.8%, #70b0f3 27%, #70b0f3 73%, #64a1e8 86.2%, #4f88d6 98%);
}

headerbar:backdrop {
    background-image: linear-gradient(to top, #4f88d6);
}

headerbar button image-button {
    padding: 6px;
}

headerbar .title {
    font: bold;
    color: white;
    padding: 0 12px;
}

headerbar .subtitle {
    font: smaller;
    padding: 0 12px;
    color: white;
}

headerbar combobox,
headerbar button,
headerbar .linked button {
    padding: 3px 4px;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.65);
    background-color: shade(@theme_bg_color, 1.08);
    background-image: linear-gradient(to bottom, #f4fcfc 20%, #d7e4fb 35%);
    color: @theme_fg_color;
}

headerbar button:hover {
    border-color: shade(@theme_bg_color, 0.7);
    box-shadow: inset 0 0 3px 4px #d0e2ff,
                inset 0 0 0 1px #7ca4dc,
                inset 0px 30px 40px -25px alpha(white, 0.7);
}

headerbar button:active,
headerbar button:checked {
    border-color: shade(@titlebar_bg_color, 0.8);
    background-color: shade(@titlebar_bg_color, 0.95);
    background-image: linear-gradient(to bottom,
                                      shade(@button_bg_color, 0.6),
                                      shade(@button_bg_color, 0.7),
                                      shade(@button_bg_color, 0.75)
                                      );
}

headerbar button:active:hover {
    border-color: shade(@titlebar_bg_color, 0.7);
}

headerbar button:focus,
headerbar button:hover:focus,
headerbar button:active:focus,
headerbar button:active:hover:focus {
    border-color: shade(@titlebar_bg_color, 0.7);
}

headerbar button:disabled {
    border-color: shade(@titlebar_bg_color, 0.85);
    background-color: shade(@titlebar_bg_color, 0.9);
    background-image: none;
}

headerbar button:active *:disabled {
    border-color: shade(@titlebar_bg_color, 0.75);
    background-color: shade(@titlebar_bg_color, 0.80);
    background-image: none;
}

headerbar entry {
    border-color: shade(@titlebar_bg_color, 0.8);
}

headerbar entry:active,
headerbar entry selection:focus {
    border-color: shade(@titlebar_bg_color, 0.7);
}

/***********
 * toolbar *
 ***********/
toolbar {
    padding: 4px;
    border-style: none;
    background-color: transparent;
    background-size: 100% 100%;
    background-image: linear-gradient(to right, #4f88d6 2%, #64a1e8 13.8%, #70b0f3 27%, #70b0f3 73%, #64a1e8 86.2%, #4f88d6 98%);
    color: @toolbar_fg_color;
}

toolbar:backdrop {
/* BUG: No load image on norm state */
/*    background-image: linear-gradient(to top, #4f88d6);*/
}

toolbar button {
    padding: 4px 4px;
}

toolbar button.text-button {
    padding: 2px 4px;
}

toolbar button image-button {
    padding: 4px 3px 3px 4px;
}

toolbar:disabled {
    background-color: shade(@toolbar_bg_color, 0.9);
    color: mix(@toolbar_fg_color, @toolbar_bg_color, 0.5);
}

/* menubar toolbars */
toolbarmenubar {
    -GtkToolbar-button-relief: normal;
}

/*******************
 * primary-toolbar *
 *******************/
.primary-toolbar,
.primary-toolbar toolbar {
    -GtkWidget-window-dragging: true;

    padding: 4px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: shade(@toolbar_bg_color, 0.8);
    background-color: transparent;
    background-size: cover;
    background-image: linear-gradient(to right, #4f88d6 2%, #64a1e8 13.8%, #70b0f3 27%, #70b0f3 73%, #64a1e8 86.2%, #4f88d6 98%);
    color: @toolbar_fg_color;
}

.primary-toolbar entry,
toolbar entry {
    border-color: shade(@toolbar_bg_color, 0.8);
}

.primary-toolbar entry:active,
.primary-toolbar entry selection:focus,
toolbar entry:active,
toolbar entry selection:focus {
    border-color: shade(@toolbar_bg_color, 0.7);
}

/* inline-toolbar */
.inline-toolbar toolbar {
    -GtkToolbar-button-relief: normal;

    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
    background-color: @theme_bg_color;
    background-image: none;
}

.inline-toolbar toolbar:last-child {
    border-width: 1px 1px 1px 1px;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
}

toolbar.inline-toolbar button {
    padding: 4px 4px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0;
    background-color: shade(@theme_bg_color, 1.08);
    background-image: none;
    color: @theme_fg_color;
}

toolbar.inline-toolbar button:hover {
    border-color: shade(@theme_bg_color, 0.7);
    background-color: shade(@theme_bg_color, 1.10);
    background-image: none;
}

toolbar.inline-toolbar button:active {
    border-color: shade(@theme_bg_color, 0.8);
    background-color: shade(@theme_bg_color, 0.95);
    background-image: none;
}

toolbar.inline-toolbar button:active:hover {
    border-color: shade(@theme_bg_color, 0.7);
}

toolbar.inline-toolbar button:focus,
toolbar.inline-toolbar button:hover:focus,
toolbar.inline-toolbar button:active:focus,
toolbar.inline-toolbar button:active:hover:focus {
    border-color: shade(@theme_bg_color, 0.7);
}

toolbar.inline-toolbar button:disabled,
.inline-toolbar toolbar toolbutton button:disabled {
    border-color: shade(@theme_bg_color, 0.85);
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
}

toolbar.inline-toolbar button:active *:disabled
.inline-toolbar toolbar toolbutton button:active *:disabled {
    border-color: shade(@theme_bg_color, 0.75);
    background-color: shade(@theme_bg_color, 0.80);
    background-image: none;
}


