/*************
 * scrollbar *
 *************/
scrollbar {
    border-width: 1px;
    border-style: solid;
    padding: 0;
}

scrollbar trough {
    border-width: 0;
    border-radius: 0;
    background-color: @theme_bg_color;
    background-image: none;
}

scrollbar button,
scrollbar button:active,
scrollbar button:active:hover {
    min-width: 10px;
    min-height: 10px;
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    color: shade(@theme_fg_color, 1.05);
}

scrollbar slider {
    min-width: 10px;
    min-height: 10px;
    border-width: 1px;
    border-color: mix(shade(@theme_bg_color, 0.87), @theme_fg_color, 0.61);
    border-radius: 0;
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.61);
}

scrollbar slider:hover,
scrollbar slider.vertical:hover {
    border-color: mix(shade(@theme_bg_color, 0.87), @theme_fg_color, 0.71);
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.71);
}

scrollbar slider:active,
scrollbar slider.vertical:active {
    border-color: shade(@theme_selected_bg_color, 1.3);
    background-color: shade(@theme_selected_bg_color, 1.3);
}

scrollbar slider.fine-tune:prelight:active {
      border-width: 2px;
      border-color: transparent;
}

scrollbar.vertical button.down {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }
scrollbar.vertical button.up {
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }
scrollbar.horizontal button.down {
    -gtk-icon-source: -gtk-icontheme("pan-right-symbolic"); }
scrollbar.horizontal button.up {
    -gtk-icon-source: -gtk-icontheme("pan-left-symbolic"); }

treeview ~ scrollbar.vertical {
  border-top: 1px solid shade(@theme_bg_color, 0.8);
  margin-top: -1px; }
