/*************
 * scrollbar *
 *************/
scrollbar {
  background-color: transparent;
  border: 0 none transparent;
  margin: 0;
  padding: 0; }
  * {
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true; }
  scrollbar.horizontal {
    background: linear-gradient(to top,
                                      shade(@bg_color, 1.1),
                                      shade(@bg_color, 1.05)
                                      ); }
  scrollbar.horizontal slider {
    border: 3px solid transparent;
    border-image: url("Scrollbars/slider-horiz.png");
    border-image-slice: 3 3 3 3;
    border-image-repeat: stretch;
    background: url("Scrollbars/handle-horiz.png") no-repeat center center, linear-gradient(to top, #e0e0e0); }
    scrollbar.horizontal slider:hover {
      border-image: url("Scrollbars/slider-horiz-prelight.png");
      border-image-slice: 3 3 3 3;
      border-image-repeat: stretch;
      background: url("Scrollbars/handle-horiz-prelight.png") no-repeat center center, linear-gradient(to top, #e4e4e4); }
    scrollbar.horizontal slider:hover:active {
      border-image: url("Scrollbars/slider-horiz-active.png");
      border-image-slice: 3 3 3 3;
      border-image-repeat: stretch;
      background: url("Scrollbars/handle-horiz-active.png") no-repeat center center, linear-gradient(to top, #d1d1d1); }
  scrollbar.vertical {
    background: linear-gradient(to left,
                                      shade(@bg_color, 1.1),
                                      shade(@bg_color, 1.05)
                                      ); }
  scrollbar.vertical slider {
    border: 3px solid transparent;
    border-image: url("Scrollbars/slider-vert.png");
    border-image-slice: 3 3 3 3;
    border-image-repeat: stretch;
    background: url("Scrollbars/handle-vert.png") no-repeat center center, linear-gradient(to top, #e0e0e0); }
    scrollbar.vertical slider:hover {
      border-image: url("Scrollbars/slider-vert-prelight.png");
      border-image-slice: 3 3 3 3;
      border-image-repeat: stretch;
      background: url("Scrollbars/handle-vert-prelight.png") no-repeat center center, linear-gradient(to top, #e4e4e4); }
    scrollbar.vertical slider:hover:active {
      border-image: url("Scrollbars/slider-vert-active.png");
      border-image-slice: 3 3 3 3;
      border-image-repeat: stretch;
      background: url("Scrollbars/handle-vert-active.png") no-repeat center center, linear-gradient(to top, #d1d1d1); }
  scrollbar.horizontal slider {
    min-width: 10px;
    min-height: 10px; }
  scrollbar.vertical slider {
    min-width: 10px;
    min-height: 10px; }
  scrollbar.fine-tune slider {
    margin: 1px;
    min-width: 10px;
    min-height: 10px; }
  scrollbar.overlay-indicator:not(.dragging):not(.hovering) {
    border: none;
    opacity: 1;
    background: none; 
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true; }
  scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical {
    border-right: 1px solid shade(@theme_bg_color); 
    background: linear-gradient(to left,
                                      shade(@bg_color, 1.1),
                                      shade(@bg_color, 1.05)
                                      ); }
  scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal {
    border-bottom: 1px solid shade(@theme_bg_color); 
    background: linear-gradient(to left,
                                      shade(@bg_color, 1.1),
                                      shade(@bg_color, 1.05)
                                      ); }
    scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider.vertical {
      margin: 0;
      min-width: 16px;
      min-height: 16px;
      background-image: none;
      background-color: transparent;
      background-clip: padding-box; 
      border: 3px solid transparent;
      border-image: url("Scrollbars/slider-vert.png");
      border-image-slice: 3 3 3 3;
      border-image-repeat: stretch;
      background: url("Scrollbars/handle-vert.png") no-repeat center center, linear-gradient(to top, #cadbf3); }
    scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider.horizontal {
      margin: 0;
      min-width: 16px;
      min-height: 16px;
      background-image: none;
      background-color: transparent;
      background-clip: padding-box; 
      border: 3px solid transparent;
      border-image: url("Scrollbars/slider-horiz.png");
      border-image-slice: 3 3 3 3;
      border-image-repeat: stretch;
      background: url("Scrollbars/handle-horiz.png") no-repeat center center, linear-gradient(to top, #cadbf3); }
  scrollbar.overlay-indicator.dragging, scrollbar.overlay-indicator.hovering {
    opacity: 1; }
  scrollbar button:active, scrollbar button:hover, scrollbar button:disabled, scrollbar button {
    padding: 0;
    min-width: 17px;
    min-height: 17px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -gtk-icon-source: none; }
  scrollbar.horizontal button.up {
    background: url("Scrollbars/left-stepper.png"); }
    scrollbar.horizontal button.up:hover {
      background: url("Scrollbars/left-stepper-prelight.png"); }
    scrollbar.horizontal button.up:hover:active {
      background: url("Scrollbars/left-stepper-active.png"); }
  scrollbar.horizontal button.down {
    background: url("Scrollbars/right-stepper.png"); }
    scrollbar.horizontal button.down:hover {
      background: url("Scrollbars/right-stepper-prelight.png"); }
    scrollbar.horizontal button.down:hover:active {
      background: url("Scrollbars/right-stepper-active.png"); }
  scrollbar.vertical button.up {
    background: url("Scrollbars/top-stepper.png"); }
    scrollbar.vertical button.up:hover {
      background: url("Scrollbars/top-stepper-prelight.png"); }
    scrollbar.vertical button.up:hover:active {
      background: url("Scrollbars/top-stepper-active.png"); }
  scrollbar.vertical button.down {
    background: url("Scrollbars/bottom-stepper.png"); }
    scrollbar.vertical button.down:hover {
      background: url("Scrollbars/bottom-stepper-prelight.png"); }
    scrollbar.vertical button.down:hover:active {
      background: url("Scrollbars/bottom-stepper-active.png"); }
