/*************
 * scrollbar *
 *************/
scrollbar {
    border-width: 0;
    border-style: solid;
    padding: 0;
    transition: all 150ms ease-in;
}

scrollbar trough {
    border: none;
    background-color: @theme_bg_color;
    background-image: none;
}

/*scrollbar button,
scrollbar button:active,
scrollbar button:active:hover {
    min-width: 16px;
    min-height: 16px;
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    color: shade(@theme_bg_color, 0.6);
}*/

scrollbar slider {
    min-width: 8px;
    min-height: 8px;
    border: none;
    border-radius: 3px;
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.21);
}

scrollbar slider:hover,
scrollbar slider.vertical:hover {
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.31);
}

scrollbar slider:active,
scrollbar slider.vertical:active {
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.46);
}

scrollbar slider.fine-tune:hover:active {
    border-width: 2px;
    border-color: transparent;
    transition: all 150ms ease-in;
}
