/**********
 * switch *
 **********/
switch {
    border-color: shade(@theme_bg_color, 0.9);
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
    color: @theme_fg_color;
    font-size: 0;
    border-radius: 6px;
}

switch:checked {
    border-color: shade(@theme_bg_color, 0.9);
    background-color: #3eb34f;
    background-image: none;
    color: @theme_selected_fg_color;
}

switch:disabled {
    border-color: shade(@theme_bg_color, 0.85);
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

switch slider {
    min-height: 20px;
    min-width: 22px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: shade(@theme_bg_color, 0.9);
    background-color: shade(@theme_bg_color, 1.08);
    background-image: none;
}

switch slider:disabled {
    border-color: shade(@theme_bg_color, 0.85);
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
}
