
/*************************
 * progressbar and scale *
 *************************/
GtkProgressBar {
    padding: 0;
    border-width: 1px;
    border-radius: 0px;
}

.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus {
        background-image: none;
        background-position:right center;
        background-repeat:no-repeat;
        box-shadow:none;
        border-image: url('assets/progress.png') 4 4 4 4 / 8px 8px 8px 8px stretch;
}

.progressbar.vertical,
.progressbar.vertical row,
.progressbar.vertical row:hover,
.progressbar.vertical row:selected,
.progressbar.vertical row:selected:focus {
        border-image: url('assets/progress-vert.png') 4 4 4 4 / 8px 8px 8px 8px stretch;
}

GtkProgressBar.trough,
GtkProgressBar.trough row,
GtkProgressBar.trough row:hover,
GtkProgressBar.trough row:selected,
GtkProgressBar.trough row:selected:focus {
    border-width: 4px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.8);
    background-color: transparent;
    background-image: linear-gradient(to top, #e4eef4);
    border-image: url('assets/trough.png') 4 4 4 4 / 4px 4px 4px 4px stretch;
}

/* level bars as used for password quality or remaining power */
GtkLevelBar {
    -GtkLevelBar-min-block-width: 34;
    -GtkLevelBar-min-block-height: 2;
}

GtkLevelBar.vertical {
    -GtkLevelBar-min-block-width: 2;
    -GtkLevelBar-min-block-height: 34;
}

.level-bar.trough {
    padding: 1px;
    border-radius: 0px;
}

.level-bar.fill-block {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @theme_selected_bg_color;
}

.level-bar.indicator-continuous.fill-block {
    padding: 1px;
    border-radius: 0px;
}

.level-bar.indicator-discrete.fill-block.horizontal {
    margin: 0 1px;
}

.level-bar.indicator-discrete.fill-block.vertical {
    margin: 1px 0;
}

/* discrete indicator border rounding,
   uncomment when :nth-child will be working
   on the widget

.level-bar.indicator-discrete.fill-block.horizontal:first-child {
    border-radius: 2px 0 0 2px;
}

.level-bar.indicator-discrete.fill-block.horizontal:last-child {
    border-radius: 0 2px 2px 0;
}

.level-bar.indicator-discrete.fill-block.vertical:first-child {
    border-radius: 2px 2px 0 0;
}

.level-bar.indicator-discrete.fill-block.vertical:last-child {
    border-radius: 0 0 2px 2px;
}
*/

.level-bar.fill-block.level-high {
    border-color: shade(@success_color, 0.85);
    background-image: linear-gradient(to bottom,
                                      shade(@success_color, 1.2),
                                      @success_color 75%,
                                      shade(@success_color, 0.95)
                                      );
}

.level-bar.fill-block.level-low {
    border-color: shade(@warning_color, 0.80);
    background-image: linear-gradient(to bottom,
                                      shade(@warning_color, 1.3),
                                      @warning_color 75%,
                                      shade(@warning_color, 0.9)
                                      );
}

.level-bar.fill-block.empty-fill-block {
    border-color: alpha(@theme_fg_color, 0.1);
    background-color: transparent;
    background-image: none;
}

.menuitem .scale.highlight.left,
.scale.highlight.left {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
    background-image: none;
}

.menuitem .scale.highlight.left:hover {
    border-color: shade(@theme_selected_bg_color, 0.8);
    background-color: shade(@theme_selected_bg_color, 0.8);
}

.scale.highlight.bottom {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
    background-image: none;
}

.scale.trough:insensitive,
.scale.highlight.left:insensitive {
    border-color: shade(@theme_bg_color, 0.85);
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
}

/*************
 * scrollbar *
 *************/
.scrollbar {
    border-width: 1px;
    border-style: solid;
    padding: 0;
}

.scrollbars-junction,
.scrollbar.trough {
    border-width: 2px;
    border-image: none;
    border-color: shade(@theme_bg_color, 0.9);
    border-radius: 0;
    background-color: shade(@theme_bg_color, 0.9);
    background-image: linear-gradient(to right, #cad6e9, #fafbfb);
}

.scrollbar.trough.horizontal {
    background-image: linear-gradient(to bottom, #cad6e9, #fafbfb);
}

.scrollbar.button,
.scrollbar.button:active,
.scrollbar.button:active:hover {
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    color: shade(@theme_bg_color, 0.6);
}

.scrollbar.slider {
    border-width: 1px;
    border-color: shade(@theme_base_color, 0.7);
    border-radius: 0 6px 6px 0;
    box-shadow: inset 0 0 2px 1px alpha(white, 0.65);
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.05);
}

.scrollbar.slider:hover {
    box-shadow: inset 0 0 2px 3px alpha(white, 0.8);
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.1);
}

.scrollbar.slider:active {
    box-shadow: inset 0 0 2px 1px alpha(black, 0.35);
    background-color: mix(@theme_bg_color, @theme_fg_color, 0.2);
}

.scrollbar.slider.fine-tune:prelight:active {
      border-width: 1px;
      border-color: shade(@theme_base_color, 0.7);
}

/* overlay scrollbar */
OsThumb {
    color: shade(@theme_bg_color, 0.7);
}

OsThumb:selected,
OsScrollbar:selected {
    background-color: @theme_selected_bg_color;
}

OsThumb:active,
OsScrollbar:active {
    background-color: @theme_selected_bg_color;
}

OsThumb:insensitive,
OsScrollbar:insensitive {
    background-color: shade(@theme_bg_color, 0.9);
}


