/*************************
 * progressbar and scale *
 *************************/
GtkProgressBar {
    padding: 0;
    border-width: 1px;
    border-radius: 2px;
}

.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus {
    background-image: none;
    background-color: @progressbar_color; 
    border: 1px solid transparent;
    background-image: linear-gradient(to bottom, #cdffcd, #a6efb3 45%, #00d020 56%, #1ce233);
    box-shadow: inset -6px 0 4px 0 alpha(black, 0.08),
                inset 6px 0 4px 0 alpha(black, 0.08);
}
 
.progressbar.vertical {
    background-image: linear-gradient(to right, #cdffcd, #a6efb3 45%, #00d020 56%, #1ce233);
    box-shadow: inset -6px 0 4px 0 alpha(black, 0.08),
                inset 6px 0 4px 0 alpha(black, 0.08);
}

.trough,
.trough row,
.trough row:hover,
.trough row:selected,
.trough row:selected:focus {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: #7d7d7d;
    background-color: shade(@theme_bg_color, 0.85);
    background-image: linear-gradient(to bottom, #ffffff 20%, #c9cacb 65%, #ffffff 98%);
    box-shadow: inset -6px 0 4px 0 alpha(black, 0.08),
                inset 6px 0 4px 0 alpha(black, 0.08);
}

.trough.vertical {
    background-image: linear-gradient(to right, #ffffff 20%, #c9cacb 65%, #ffffff 98%);
    box-shadow: inset -6px 0 4px 0 alpha(black, 0.08),
                inset 6px 0 4px 0 alpha(black, 0.08);
}

/* level bars as used for password quality or remaining power */
GtkLevelBar {
    -GtkLevelBar-min-block-width: 34;
    -GtkLevelBar-min-block-height: 2;
}

GtkLevelBar.vertical {
    -GtkLevelBar-min-block-width: 2;
    -GtkLevelBar-min-block-height: 34;
}

.level-bar.trough {
    padding: 1px;
    border-radius: 0px;
}

.level-bar.fill-block {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @theme_selected_bg_color;
}

.level-bar.indicator-continuous.fill-block {
    padding: 1px;
    border-radius: 0px;
}

.level-bar.indicator-discrete.fill-block.horizontal {
    margin: 0 1px;
}

.level-bar.indicator-discrete.fill-block.vertical {
    margin: 1px 0;
}

/* discrete indicator border rounding,
   uncomment when :nth-child will be working
   on the widget

.level-bar.indicator-discrete.fill-block.horizontal:first-child {
    border-radius: 2px 0 0 2px;
}

.level-bar.indicator-discrete.fill-block.horizontal:last-child {
    border-radius: 0 2px 2px 0;
}

.level-bar.indicator-discrete.fill-block.vertical:first-child {
    border-radius: 2px 2px 0 0;
}

.level-bar.indicator-discrete.fill-block.vertical:last-child {
    border-radius: 0 0 2px 2px;
}
*/

.level-bar.fill-block.level-high {
    border-color: shade(@success_color, 0.85);
    background-image: linear-gradient(to bottom,
                                      shade(@success_color, 1.2),
                                      @success_color 75%,
                                      shade(@success_color, 0.95)
                                      );
}

.level-bar.fill-block.level-low {
    border-color: shade(@warning_color, 0.80);
    background-image: linear-gradient(to bottom,
                                      shade(@warning_color, 1.3),
                                      @warning_color 75%,
                                      shade(@warning_color, 0.9)
                                      );
}

.level-bar.fill-block.empty-fill-block {
    border-color: alpha(@theme_fg_color, 0.1);
    background-color: transparent;
    background-image: none;
}

.scale {
    -GtkRange-slider-width: 19;
    -GtkScale-slider-length: 11;
    -GtkRange-trough-border: 0;

    padding: 0;
    border-width: 1px;
    border-radius: 0px;
}

.scale.slider {
    border-radius: 0px;
    background-image: url('assets/slider-horiz.png');
}

.scale.slider:insensitive {
    border-radius: 0px;
    background-image: url('assets/slider-horiz-insensitive.png');
}

/* vertical sliders */
.scale.slider.vertical {
    border-radius: 0px;
    background-image: url('assets/slider-vert.png');
}

.scale.slider.vertical:insensitive {
    border-radius: 0px;
    background-image: url('assets/slider-vert-insensitive.png');
}

.scale.slider.fine-tune:active,
.scale.slider.fine-tune:active:hover,
.scale.slider.fine-tune.horizontal:active,
.scale.slider.fine-tune.horizontal:active:hover {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.scale.mark {
    border-color: shade(@theme_bg_color, 0.8);
}

.scale.trough {
    margin: 9px 0;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0px;
    background-color: shade(@theme_bg_color, 1.08);
    background-image: none;
    border-image: none;
}

.scale.trough.vertical {
    margin: 0 9px;
}

.menuitem .scale.highlight.left,
.scale.highlight.left {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
    background-image: none;
}

.menuitem .scale.highlight.left:hover {
    border-color: shade(@theme_selected_bg_color, 0.8);
    background-color: shade(@theme_selected_bg_color, 0.8);
}

.scale.highlight.bottom {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
    background-image: none;
}

.scale.trough:insensitive,
.scale.highlight.left:insensitive {
    border-color: shade(@theme_bg_color, 0.85);
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
}

/*************
 * scrollbar *
 *************/
.scrollbar {
	-GtkScrollbar-activate-slider: 1;
	-GtkScrollbar-trough-border: 0;
	-GtkScrollbar-min-slider-length: 20; 
	-GtkScrollbar-has-forward-stepper: 1;
	-GtkScrollbar-has-backward-stepper: 1;
	-GtkScrollbar-has-secondary-forward-stepper: 0;
	-GtkScrollbar-has-secondary-backward-stepper: 0;
	-GtkRange-arrow-scaling: 0.0;
	-GtkRange-trough-border: 1;
	-GtkRange-stepper-size: 16;
	-GtkRange-slider-width: 16; 
	-GtkScrollbar-slider-width: 16;
	color: @transparent;
}

.scrollbar.button,
.scrolbar.button:prelight,
.scrollbar.button:insensitive {
	border-width: 0px;
    border-radius: 0px;
	border-style: none;
    border-image: none;
    box-shadow: none;
    border-color: transparent;
    background-color: transparent;
    background-size: 100% 100%;
	
}

.scrollbar.button.vertical.top,
.scrollbar.button.vertical.top:insensitive {
	background-image: url("assets/stepper-up-insens.png");
        border-image: url("assets/stepper-up-insens.png");
       
}

.scrollbar.button.vertical.bottom,
.scrollbar.button.vertical.bottom:insensitive {
	background-image: url("assets/stepper-down-insens.png");
        border-image: url("assets/stepper-down-insens.png");
}

.scrollbar.button.horizontal.left,
.scrollbar.button.horizontal.left:insensitive {
	background-image: url("assets/stepper-left-insens.png");
        border-image: url("assets/stepper-left-insens.png");
}

.scrollbar.button.horizontal.right,
.scrollbar.button.horizontal.right:insensitive {
	background-image: url("assets/stepper-right-insens.png");
        border-image: url("assets/stepper-right-insens.png");
}

.scrollbar.button.vertical.top:prelight {
	background-image: url("assets/stepper-up-prelight.png");
        border-image: url("assets/stepper-up-prelight.png");
}

.scrollbar.button.vertical.bottom:prelight {
	background-image: url("assets/stepper-down-prelight.png");
        border-image: url("assets/stepper-down-prelight.png");
}

.scrollbar.button.horizontal.left:prelight {
	background-image: url("assets/stepper-left-prelight.png");
        border-image: url("assets/stepper-left-prelight.png");
}

.scrollbar.button.horizontal.right:prelight {
	background-image: url("assets/stepper-right-prelight.png");
        border-image: url("assets/stepper-right-prelight.png");
   
}

.scrollbar.trough {
	border-image: linear-gradient(to bottom,
                                     shade (@bg_color, 0.74),
                                     shade (@bg_color, 0.74));
}

.scrollbar.trough.vertical {
	background-image: linear-gradient(to right,
                                         #e9e9e9,
                                         #fcfcfc);
}

.scrollbar.trough.horizontal {
	background-image: linear-gradient(to bottom,
                                       #e9e9e9,
                                       #fcfcfc);
}

.scrollbar.slider {
    border-width: 1px;
    border-style: solid ; 
    border-color: #979797;
	border-radius: 2px;
    background-repeat: no-repeat;
	background-position: center center ;
    background-clip: padding-box;
    box-shadow: inset 1px 0 #f6f6f6,
                inset -1px 0 #f6f6f6,
                inset 0 1px #f6f6f6,
                inset 0 -1px #f6f6f6;
}

.scrollbar.slider:hover {
    border-width: 1px;
    border-style: solid ; 
    border-color: #3c7fb1;
	border-radius: 2px;
    box-shadow: inset 1px 0 #f6f6f6,
                inset -1px 0 #f6f6f6,
                inset 0 1px #f6f6f6,
                inset 0 -1px #f6f6f6;
}


.scrollbar.slider.vertical {
background-image:  url("assets/sv.png"),
                   linear-gradient(to right,
                   #F4F4F4,
                   #E9E9EB 45%, 
                   #D9DADC 46%,
                   #C0C0C4); 			 
}

.scrollbar.slider.horizontal {
 background-image: url("assets/sh.png"),
                   linear-gradient(to bottom,
                   #F4F4F4,
                   #E9E9EB 45%,
                   #D9DADC 45%,
                   #C0C0C4);

}

.scrollbar.slider.vertical:hover {
background-image:  url("assets/sv2.png"),
                   linear-gradient(to right,
                   #E3F4FC,
                   #D6EEFB 4%,
                   #A9DBF6 46%,
                   #A4D5EF 90%,
                   #9CCAE3);
}

.scrollbar.slider.horizontal:hover {
background-image:  url("assets/sh2.png"),
                   linear-gradient(to bottom,
                   #E3F4FC,
                   #D6EEFB 45%,
                   #A9DBF6 46%,
                   #A4D5EF 90%,
                   #9CCAE3);
}


/* overlay scrollbar */
OsThumb {
    color: shade (@fg_color, 1.6);
}

OsThumb:selected,
GtkScrollbar:selected {
    background-color: @selected_bg_color;
}

OsThumb:active,
GtkScrollbar:active {
    background-color: shade (@bg_color, 0.6);
}

OsThumb:insensitive,
GtkScrollbar:insensitive {
    background-color: shade (@bg_color, 0.85);
}
