/**************
 * header-bar *
 **************/
headerbar {
    padding: 4px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: shade(@titlebar_bg_color, 0.8);
    background-color: @titlebar_bg_color;
    background-image: none;
    color: @titlebar_fg_color;
}

headerbar button.text-button {
    padding: 6px 14px;
}

headerbar button.image-button {
    padding: 6px 8px;
}

headerbar .title {
    font-weight: bold;
    padding: 0 12px;
}

headerbar .subtitle {
    font-size: smaller;
    padding: 0 12px;
}

headerbar combobox,
headerbar button {
    border-color: shade(@titlebar_bg_color, 0.8);
    background-color: shade(@titlebar_bg_color, 1.08);
    background-image: none;
    color: @titlebar_fg_color;
}

headerbar button:hover {
    border-color: shade(@titlebar_bg_color, 0.7);
    background-color: shade(@titlebar_bg_color, 1.10);
    background-image: none;
}

headerbar button:active {
    border-color: shade(@titlebar_bg_color, 0.8);
    background-color: shade(@titlebar_bg_color, 0.95);
    background-image: none;
}

headerbar button:active:hover {
    border-color: shade(@titlebar_bg_color, 0.7);
}

headerbar button:focus,
headerbar button:hover:focus,
headerbar button:active:focus,
headerbar button:active:hover:focus {
    border-color: shade(@titlebar_bg_color, 0.7);
}

headerbar button:disabled {
    border-color: shade(@titlebar_bg_color, 0.85);
    background-color: shade(@titlebar_bg_color, 0.9);
    background-image: none;
}

headerbar button:active *:disabled {
    border-color: shade(@titlebar_bg_color, 0.75);
    background-color: shade(@titlebar_bg_color, 0.80);
    background-image: none;
}

headerbar entry {
    border-color: shade(@titlebar_bg_color, 0.8);
}

headerbar entry:active,
headerbar entry:focus {
    border-color: shade(@titlebar_bg_color, 0.7);
}
