/***********
 * menubar *
 ***********/
menubar {
    -GtkWidget-window-dragging: true;
    background-image: url('assets/toolbar.png');
    background-size: 100% 100%;
    border-width: 0px;
    border-color: #b6bccc;
    border-style: solid;
    color: @dark_fg_color;
    text-shadow: @none;
}

menubar:backdrop {
    background-image: url('assets/toolbar-inactive.png');
}
