/***********
 * sidebar *
 ***********/
.sidebar,
.sidebar.view,
.sidebar .view,
.sidebar GtkScrolledWindow {
    background-color: @sidebar_bg_color;
    color: @sidebar_fg_color;
}

.sidebar row:selected,
.sidebar row:selected:hover,
.sidebar row:selected:focus,
.sidebar .view row:selected,
.sidebar .view row:selected:hover,
.sidebar .view row:selected:focus {
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @sidebar_fg_color;
}

.sidebar .frame {
    border-width: 0;
}

/* remove nautilus sidebar hover */
NautilusWindow .list-row:hover {
    background-color: @sidebar_bg_color;
    color: @sidebar_fg_color;
}

/* nemo sidebar padding */
NemoWindow .sidebar .cell {
    padding: 2px 2px;
}

/* sidebar padding for 3.18 */
.sidebar-item {
    padding: 10px 4px;
}
.sidebar-item > Gtklabel {
    padding-left: 6px;
    padding-right: 6px;
}
.sidebar-item.needs-attention > Gtklabel {
    background-size: 6px 6px, 0 0;
}

GtkSidebarRow.list-row {
    padding: 0px;
}
GtkSidebarRow .sidebar-revealer {
    padding: 1px 14px 1px 12px;
}
GtkSidebarRow .sidebar-icon:dir(ltr) {
    padding-right: 8px;
}
GtkSidebarRow .sidebar-icon:dir(rtl) {
    padding-left: 8px;
}
GtkSidebarRow .sidebar-label:dir(ltr) {
    padding-right: 2px;
}
GtkSidebarRow .sidebar-label:dir(rtl) {
    padding-left: 2px;
}

.sidebar-button.button.image-button {
    padding: 3px;
    border-radius: 0;
    box-shadow: none;
}
.sidebar-button.button:not(:hover):not(:active) > GtkImage {
    opacity: 0.5;
}
.sidebar-item {
    padding: 10px 4px;
}
.sidebar-item > GtkLabel {
    padding-left: 6px;
    padding-right: 6px;
}
.sidebar-item.needs-attention > GtkLabel {
    background-size: 6px 6px, 0 0;
}
