/********
 * menu *
 ********/
treemenu menu,
toolbutton menu,
combobox  menu {
    background-color: @menu_bg_color;
}

menu,
toolbar menu,
headerbar  menu,
.primary-toolbar menu,
.primary-toolbar button menu,
toolbar .primary-toolbar menu,
headerbar .primary-toolbar menu {
    padding: 4px;
    border-radius: 0;
    border: 3px solid transparent;
    background-color: @menu_bg_color;
    color: @menu_fg_color;
    border-image: url('assets/menu-bg.png') 3 3 3 3;
    box-shadow: none;
}

/* Hover-effect on play-button in ubuntu soundmenu */
menu:selected {
    background-color: @selected_bg_color;
}

menu button:hover,
menu button:active,
menu button:active *:disabled,
menu button:disabled,
menu button {
    border-width: 0;
    background-color: @menu_bg_color;
    background-image: none;
}

.context-menu {
    font: initial;
}

/* ubuntu software center menu */
#toolbar-popup {
    background-color: @menu_bg_color;
    color: @menu_fg_color;
}
