
/******************
 * combobox entry *
 ******************/
.primary-toolbar combobox.combobox-entry entry,
.primary-toolbar combobox.combobox-entry entry:active,
.primary-toolbar combobox.combobox-entry entry selection:focus,
.primary-toolbar combobox.combobox-entry entry:disabled,
combobox.combobox-entry entry,
combobox.combobox-entry entry:active,
combobox.combobox-entry entry selection:focus,
combobox.combobox-entry entry:disabled {
    border-width: 1px 0 1px 1px;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.primary-toolbar combobox entry button,
.primary-toolbar combobox toolbar.primary-toolbar button:hover,
.primary-toolbar combobox entry button:active,
.primary-toolbar combobox toolbar combobox button.combo:disabled,
combobox entry button,
combobox toolbar.primary-toolbar button:hover,
combobox entry button:active,
combobox toolbar combobox button.combo:disabled {
    border-width: 1px 1px 1px 1px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

