
/*************************
 * progressbar and scale *
 *************************/
progressbar {
    padding: 0;
    border-width: 1px;
    border-radius: 0px;
    min-width: 15px;
    min-height: 15px;
}

progressbar progress {
    background-image: linear-gradient(to right, @progressbar_color, @progressbar_color); }
 
trough {
    background-color: shade(@theme_bg_color, 0.85);
    border: 1px solid shade(@theme_bg_color, 0.5);
    border-radius: 0;
    box-shadow: none;
}

/* level bars as used for password quality or remaining power */
GtkLevelBar {
    -GtkLevelBar-min-block-width: 34;
    -GtkLevelBar-min-block-height: 2;
}

GtkLevelBar.vertical {
    -GtkLevelBar-min-block-width: 2;
    -GtkLevelBar-min-block-height: 34;
}

levelbar trough {
    padding: 1px;
    border-radius: 0px;
}

levelbar block {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @theme_selected_bg_color;
}

levelbar.indicator-continuous.fill-block {
    padding: 1px;
    border-radius: 0px;
}

levelbar.indicator-discrete.fill-block.horizontal {
    margin: 0 1px;
}

levelbar.indicator-discrete.fill-block.vertical {
    margin: 1px 0;
}

/* discrete indicator border rounding,
   uncomment when :nth-child will be working
   on the widget

levelbar.indicator-discrete.fill-block.horizontal:first-child {
    border-radius: 2px 0 0 2px;
}

levelbar.indicator-discrete.fill-block.horizontal:last-child {
    border-radius: 0 2px 2px 0;
}

levelbar.indicator-discrete.fill-block.vertical:first-child {
    border-radius: 2px 2px 0 0;
}

levelbar.indicator-discrete.fill-block.vertical:last-child {
    border-radius: 0 0 2px 2px;
}
*/

levelbar block.level-high {
    border-color: shade(@success_color, 0.85);
    background-image: linear-gradient(to bottom,
                                      shade(@success_color, 1.2),
                                      @success_color 75%,
                                      shade(@success_color, 0.95)
                                      );
}

levelbar block.level-low {
    border-color: shade(@warning_color, 0.80);
    background-image: linear-gradient(to bottom,
                                      shade(@warning_color, 1.3),
                                      @warning_color 75%,
                                      shade(@warning_color, 0.9)
                                      );
}

levelbar block.empty-fill-block {
    border-color: alpha(@theme_fg_color, 0.1);
    background-color: transparent;
    background-image: none;
}

.scale {
    -GtkRange-slider-width: 21;
    -scale-slider-length: 15;
    -GtkRange-trough-border: 0;

    padding: 0;
    border-width: 1px;
    border-radius: 0px;
}

scale slider {
    border-radius: 0px;
    min-height: 21px;
    min-width: 15px;
    margin: -9px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url('assets/slider-horiz.png');
}

scale.vertical slider {
    min-height: 15px;
    min-width: 21px;
}

scale slider:disabled {
    border-radius: 0px;
    background-image: url('assets/slider-horiz-insensitive.png');
}

/* vertical sliders */
scale.vertical slider {
    border-radius: 0px;
    background-image: url('assets/slider-vert.png');
}

scale.vertical slider:disabled {
    border-radius: 0px;
    background-image: url('assets/slider-vert-insensitive.png');
}

scale slider.fine-tune:active,
scale slider.fine-tune:active:hover,
scale slider.fine-tune.horizontal:active,
scale slider.fine-tune.horizontal:active:hover {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

scale.mark {
    border-color: shade(@theme_bg_color, 0.8);
}

scale trough {
    margin: 9px 6px;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0px;
    background-color: shade(@theme_bg_color, 1.08);
    background-image: none;
    border-image: none;
}

scale trough.vertical {
    margin: 6px 9px;
}

menuitem .scale highlight.left,
.scale highlight.left {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
    background-image: none;
}

menuitem .scale highlight.left:hover {
    border-color: shade(@theme_selected_bg_color, 0.8);
    background-color: shade(@theme_selected_bg_color, 0.8);
}

.scale highlight.bottom {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
    background-image: none;
}

.scale trough:disabled,
.scale highlight.left:disabled {
    border-color: shade(@theme_bg_color, 0.85);
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
}

/**************
 * Scrollbars *
 **************/
scrollbar {
  background-color: shade(@theme_bg_color, 0.9);
  transition: 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  * {
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true; }
  scrollbar.top {
    border-bottom: 1px solid @borders; }
  scrollbar.bottom {
    border-top: 1px solid @borders; }
  scrollbar.left {
    border-right: 1px solid @borders; }
  scrollbar.right {
    border-left: 1px solid @borders; }
  scrollbar:backdrop {
    background-color: shade(@theme_bg_color, 0.9);
    border-color: shade(@borders, 0.95);
    transition: 200ms ease-out; }
  scrollbar slider {
    min-width: 14px;
    min-height: 14px;
    margin: 0;
    border: none;
    border-radius: 0;
    background-clip: padding-box;
    background-color: shade(@theme_bg_color, 0.8); }
    scrollbar slider:hover {
      background-color: shade(@theme_bg_color, 0.85); }
    scrollbar slider:hover:active {
      background-color: shade(@theme_bg_color, 0.75); }
    scrollbar slider:backdrop {
      background-color: shade(@theme_bg_color, 0.8); }
    scrollbar slider:disabled {
      background-color: transparent; }
  scrollbar.fine-tune slider {
    min-width: 12px;
    min-height: 12px; }
  scrollbar.fine-tune.horizontal slider {
    border-width: 1px 1px; }
  scrollbar.fine-tune.vertical slider {
    border-width: 1px 1px; }
  scrollbar.overlay-indicator:not(.dragging):not(.hovering) {
    border: solid 1px 0 0 0 shade(@theme_bg_color, 0.8);
    opacity: 1;
    margin: 0;
    background-color: shade(@theme_bg_color, 0.9); }
    scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider {
      margin: 0;
      min-width: 12px;
      min-height: 12px;
      background-color: shade(@theme_bg_color, 0.8);
      border: 1px solid shade(@theme_bg_color, 0.8); }
    scrollbar.overlay-indicator:not(.dragging):not(.hovering) button {
      min-width: 12px;
      min-height: 12px;
      background-color: transparent;
      background-clip: padding-box;
      border-radius: 0;
      border: none /*1px solid shade(@theme_bg_color, 0.8)*/;
      -gtk-icon-source: none; }
    scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal slider {
      margin: 0 2px;
      min-width: 40px; }
    scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal button {
      margin: 1px 2px;
      min-width: 5px; }
    scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical slider {
      margin: 2px 0;
      min-height: 40px; }
    scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical button {
      margin: 2px 1px;
      min-height: 5px; }
  scrollbar.overlay-indicator.dragging, scrollbar.overlay-indicator.hovering {
    opacity: 1; }
  scrollbar.horizontal slider {
    min-width: 40px; }
  scrollbar.vertical slider {
    min-height: 40px; }
  scrollbar button {
    padding: 0;
    min-width: 12px;
    min-height: 12px;
    border-style: none;
    border-radius: 0;
    transition-property: min-height, min-width, color;
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px transparent;
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: #787c7d; }
    scrollbar button:hover {
      border-color: transparent;
      background-color: transparent;
      background-image: none;
      box-shadow: inset 0 1px transparent;
      text-shadow: none;
      -gtk-icon-shadow: none;
      color: #535859; }
    scrollbar button:active, scrollbar button:checked {
      border-color: transparent;
      background-color: transparent;
      background-image: none;
      box-shadow: inset 0 1px transparent;
      text-shadow: none;
      -gtk-icon-shadow: none;
      color: @borders; }
    scrollbar button:disabled {
      border-color: transparent;
      background-color: transparent;
      background-image: none;
      box-shadow: inset 0 1px transparent;
      text-shadow: none;
      -gtk-icon-shadow: none;
      color: rgba(120, 124, 125, 0.2); }
    scrollbar button:backdrop {
      border-color: transparent;
      background-color: transparent;
      background-image: none;
      box-shadow: inset 0 1px transparent;
      text-shadow: none;
      -gtk-icon-shadow: none;
      color: #c3c4c4; }
      scrollbar button:backdrop:disabled {
        border-color: transparent;
        background-color: transparent;
        background-image: none;
        box-shadow: inset 0 1px transparent;
        text-shadow: none;
        -gtk-icon-shadow: none;
        color: rgba(195, 196, 196, 0.2); }
  scrollbar.vertical button.down {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }
  scrollbar.vertical button.up {
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }
  scrollbar.horizontal button.down {
    -gtk-icon-source: -gtk-icontheme("pan-right-symbolic"); }
  scrollbar.horizontal button.up {
    -gtk-icon-source: -gtk-icontheme("pan-left-symbolic"); }

treeview ~ scrollbar.vertical {
  border-top: 1px solid @borders;
  margin-top: -1px; }

