
/************
 * GtkScale *
 ************/
scale trough, scale fill {
  border: 2px solid transparent;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none; }
  row:selected scale trough, scale row:selected trough, row:selected scale fill, scale row:selected fill {
    box-shadow: none; }
    row:selected scale trough, scale row:selected trough, row:selected scale fill, scale row:selected fill, row:selected scale trough:disabled, scale row:selected trough:disabled, row:selected scale fill:disabled, scale row:selected fill:disabled {
      border-color: #061f3e; }
  .osd scale trough, scale .osd trough, .osd scale fill, scale .osd fill {
    border-color: #a1a192;
    background-color: rgba(161, 161, 146, 0.8);
    box-shadow: none;
    outline-color: rgba(0, 0, 0, 0.2); }
    .osd scale trough:disabled, scale .osd trough:disabled, .osd scale fill:disabled, scale .osd fill:disabled {
      background-color: #f4f4f2; }

scale {
  min-height: 10px;
  min-width: 10px;
  padding: 12px; }
  scale fill,
  scale highlight {
    margin: -1px; }
  scale.fine-tune fill,
  scale.fine-tune highlight,
  scale.fine-tune trough {
    outline-offset: 4px;
    -gtk-outline-radius: 1px; }
  scale trough {
    outline-offset: 11px;
    -gtk-outline-radius: 2px; }
  scale fill:disabled {
    border-color: transparent;
    background-color: transparent; }
  .osd scale fill {
    background-color: transparent; }
    .osd scale fill:disabled, .osd scale fill:disabled:backdrop {
      border-color: transparent;
      background-color: transparent; }
  scale.horizontal trough {
    border-image: url("Range/trough-horz.png");
    border-image-repeat: stretch;
    border-width: 1px 2px;
    border-image-slice: 1 2 1 2;
    background-image: linear-gradient(to bottom, rgba(236, 236, 231, 0.8) 1px, rgba(245, 244, 239, 0.8)); }
  scale.horizontal slider {
    border-style: none;
    border-radius: 0px;
    background-color: transparent;
    background-image: -gtk-scaled(url("Range/slider-horz.png"));
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    min-height: 22px;
    min-width: 11px;
    margin-top: -10px;
    margin-bottom: -10px; }
  scale.horizontal slider:hover {
    border-style: none;
    border-radius: 0px;
    background-color: transparent;
    background-image: -gtk-scaled(url("Range/slider-horz-hover.png"));
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    min-height: 22px;
    min-width: 11px;
    margin-top: -10px;
    margin-bottom: -10px; }
  scale.horizontal slider:active {
    border-style: none;
    border-radius: 0px;
    background-color: transparent;
    background-image: -gtk-scaled(url("Range/slider-horz-active.png"));
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    min-height: 22px;
    min-width: 11px;
    margin-top: -10px;
    margin-bottom: -10px; }
  scale.horizontal slider:disabled {
    border-style: none;
    border-radius: 0px;
    background-color: transparent;
    background-image: -gtk-scaled(url("Range/slider-horz-insensitive.png"));
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    min-height: 22px;
    min-width: 11px;
    margin-top: -10px;
    margin-bottom: -10px; }
  scale.vertical trough {
    border-image: url("Range/trough-vert.png");
    border-image-repeat: stretch;
    border-width: 2px 1px;
    border-image-slice: 2 1 2 1;
    background-image: linear-gradient(to right, rgba(236, 236, 231, 0.8) 1px, rgba(245, 244, 239, 0.8)); }
  scale.vertical slider {
    border-style: none;
    border-radius: 0px;
    background-color: transparent;
    background-image: -gtk-scaled(url("Range/slider-vert.png"));
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    min-height: 11px;
    min-width: 22px;
    margin-left: -10px;
    margin-right: -10px; }
  scale.vertical slider:hover {
    border-style: none;
    border-radius: 0px;
    background-color: transparent;
    background-image: -gtk-scaled(url("Range/slider-vert-hover.png"));
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    min-height: 11px;
    min-width: 22px;
    margin-left: -10px;
    margin-right: -10px; }
  scale.vertical slider:active {
    border-style: none;
    border-radius: 0px;
    background-color: transparent;
    background-image: -gtk-scaled(url("Range/slider-vert-active.png"));
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    min-height: 11px;
    min-width: 22px;
    margin-left: -10px;
    margin-right: -10px; }
  scale.vertical slider:disabled {
    border-style: none;
    border-radius: 0px;
    background-color: transparent;
    background-image: -gtk-scaled(url("Range/slider-vert-insensitive.png"));
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    min-height: 11px;
    min-width: 22px;
    margin-left: -10px;
    margin-right: -10px; }
  scale value {
    color: alpha(currentColor,0.4); }
  scale marks {
    color: alpha(currentColor,0.4); }
    scale marks.top {
      margin-bottom: 11px;
      margin-top: -15px; }
    scale marks.bottom {
      margin-top: 11px;
      margin-bottom: -15px; }
    scale marks.top {
      margin-right: 11px;
      margin-left: -15px; }
    scale marks.bottom {
      margin-left: 11px;
      margin-right: -15px; }
  scale.fine-tune marks.top {
    margin-bottom: 11px;
    margin-top: -12px; }
  scale.fine-tune marks.bottom {
    margin-top: 11px;
    margin-bottom: -12px; }
  scale.fine-tune marks.top {
    margin-right: 11px;
    margin-left: -12px; }
  scale.fine-tune marks.bottom {
    margin-left: 11px;
    margin-right: -12px; }
  scale.horizontal indicator {
    min-height: 4px;
    min-width: 1px; }
  scale.horizontal.fine-tune indicator {
    min-height: 1px; }
  scale.vertical indicator {
    min-height: 1px;
    min-width: 4px; }
  scale.vertical.fine-tune indicator {
    min-width: 1px; }
  scale.color.horizontal slider:hover, scale.color.horizontal slider:disabled, scale.color.horizontal slider,
  scale.horizontal contents:last-child:not(:only-child) > trough > slider {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-horz-scale-has-marks-above.png"));
    min-height: 21px;
    min-width: 11px;
    margin-top: -10px;
    margin-bottom: -9px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.color.horizontal slider:hover,
  scale.horizontal contents:last-child:not(:only-child) > trough > slider:hover {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-horz-scale-has-marks-above-hover.png"));
    min-height: 21px;
    min-width: 11px;
    margin-top: -10px;
    margin-bottom: -9px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.color.horizontal slider:active,
  scale.horizontal contents:last-child:not(:only-child) > trough > slider:active {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-horz-scale-has-marks-above-active.png"));
    min-height: 21px;
    min-width: 11px;
    margin-top: -10px;
    margin-bottom: -9px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.color.horizontal slider:disabled,
  scale.horizontal contents:last-child:not(:only-child) > trough > slider:disabled {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-horz-scale-has-marks-above-insensitive.png"));
    min-height: 21px;
    min-width: 11px;
    margin-top: -10px;
    margin-bottom: -9px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.horizontal contents:first-child:not(:only-child) > trough > slider {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-horz-scale-has-marks-below.png"));
    min-height: 21px;
    min-width: 11px;
    margin-top: -9px;
    margin-bottom: -10px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.horizontal contents:first-child:not(:only-child) > trough > slider:hover {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-horz-scale-has-marks-below-hover.png"));
    min-height: 21px;
    min-width: 11px;
    margin-top: -9px;
    margin-bottom: -10px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.horizontal contents:first-child:not(:only-child) > trough > slider:active {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-horz-scale-has-marks-below-active.png"));
    min-height: 21px;
    min-width: 11px;
    margin-top: -9px;
    margin-bottom: -10px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.horizontal contents:first-child:not(:only-child) > trough > slider:disabled {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-horz-scale-has-marks-below-insensitive.png"));
    min-height: 21px;
    min-width: 11px;
    margin-top: -9px;
    margin-bottom: -10px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.color.vertical:dir(rtl) slider:hover, scale.color.vertical:dir(rtl) slider:disabled, scale.color.vertical:dir(rtl) slider,
  scale.vertical contents:last-child:not(:only-child) > trough > slider {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-vert-scale-has-marks-above.png"));
    min-height: 11px;
    min-width: 21px;
    margin-left: -9px;
    margin-bottom: -10px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.color.vertical:dir(rtl) slider:hover,
  scale.vertical contents:last-child:not(:only-child) > trough > slider:hover {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-vert-scale-has-marks-above-hover.png"));
    min-height: 11px;
    min-width: 21px;
    margin-left: -9px;
    margin-bottom: -10px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.color.vertical:dir(rtl) slider:active,
  scale.vertical contents:last-child:not(:only-child) > trough > slider:active {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-vert-scale-has-marks-above-active.png"));
    min-height: 11px;
    min-width: 21px;
    margin-left: -9px;
    margin-bottom: -10px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.color.vertical:dir(rtl) slider:disabled,
  scale.vertical contents:last-child:not(:only-child) > trough > slider:disabled {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-vert-scale-has-marks-above-insensitive.png"));
    min-height: 11px;
    min-width: 21px;
    margin-left: -9px;
    margin-bottom: -10px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.color.vertical:dir(ltr) slider:hover, scale.color.vertical:dir(ltr) slider:disabled, scale.color.vertical:dir(ltr) slider,
  scale.vertical contents:first-child:not(:only-child) > trough > slider {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-vert-scale-has-marks-below.png"));
    min-height: 11px;
    min-width: 21px;
    margin-left: -10px;
    margin-bottom: -9px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.color.vertical:dir(ltr) slider:hover,
  scale.vertical contents:first-child:not(:only-child) > trough > slider:hover {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-vert-scale-has-marks-below-hover.png"));
    min-height: 11px;
    min-width: 21px;
    margin-left: -10px;
    margin-bottom: -9px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.color.vertical:dir(ltr) slider:active,
  scale.vertical contents:first-child:not(:only-child) > trough > slider:active {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-vert-scale-has-marks-below-active.png"));
    min-height: 11px;
    min-width: 21px;
    margin-left: -10px;
    margin-bottom: -9px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.color.vertical:dir(ltr) slider:disabled,
  scale.vertical contents:first-child:not(:only-child) > trough > slider:disabled {
    border-style: none;
    border-radius: 0;
    background-image: -gtk-scaled(url("Range/slider-vert-scale-has-marks-below-insensitive.png"));
    min-height: 11px;
    min-width: 21px;
    margin-left: -10px;
    margin-bottom: -9px;
    background-repeat: no-repeat;
    box-shadow: none; }
  scale.color {
    min-height: 0;
    min-width: 0; }
    scale.color trough {
      border: none;
      background-image: none;
      background-repeat: no-repeat; }
    scale.color.horizontal {
      padding: 0 0 15px 0; }
      scale.color.horizontal trough {
        padding-bottom: 4px;
        background-position: 0 -3px;
        border-top-left-radius: 0;
        border-top-right-radius: 0; }
      scale.color.horizontal slider:hover, scale.color.horizontal slider:disabled, scale.color.horizontal slider {
        margin-bottom: -10px;
        margin-top: 0; }
    scale.color.vertical:dir(ltr) {
      padding: 0 0 0 15px; }
      scale.color.vertical:dir(ltr) trough {
        padding-left: 4px;
        background-position: 3px 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0; }
      scale.color.vertical:dir(ltr) slider:hover, scale.color.vertical:dir(ltr) slider:disabled, scale.color.vertical:dir(ltr) slider {
        margin-left: -10px;
        margin-right: 0; }
    scale.color.vertical:dir(rtl) {
      padding: 0 15px 0 0; }
      scale.color.vertical:dir(rtl) trough {
        padding-right: 4px;
        background-position: -3px 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0; }
      scale.color.vertical:dir(rtl) slider:hover, scale.color.vertical:dir(rtl) slider:disabled, scale.color.vertical:dir(rtl) slider {
        margin-right: -10px;
        margin-left: 0; }

/*****************
 * Progress bars *
 *****************/
progressbar {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.4); }
  progressbar.horizontal trough,
  progressbar.horizontal progress {
    min-height: 16px; }
  progressbar.vertical trough,
  progressbar.vertical progress {
    min-width: 16px; }
  progressbar.horizontal progress {
    margin: 0; }
  progressbar.vertical progress {
    margin: 0; }
  progressbar trough {
    border: 1px solid #686868;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: inset 0.5px 0.5px 0px 1.5px #efefef, inset 1px 1px #bebebe;
    padding: 3px 4px; }
  progressbar.vertical trough {
    border: 1px solid #686868;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: inset 0.5px 0.5px 0px 1.5px #efefef, inset 1px 1px #bebebe;
    padding: 4px 3px; }
  progressbar progress {
    background-image: linear-gradient(to right, transparent, transparent 37.5%, white 37.5%, white 50%, transparent 50%, transparent 87.5%, white 87.5%, white 100%), linear-gradient(to bottom, #7cc383 0%,
                                                 #5dbe62 50%,
                                                 #3bd047 51%,
                                                 #15e81e 100%);
    background-size: 16px 16px, auto; }
  progressbar.vertical progress {
    background-image: linear-gradient(to bottom, transparent, transparent 37.5%, white 37.5%, white 50%, transparent 50%, transparent 87.5%, white 87.5%, white 100%), linear-gradient(to bottom, #7cc383 0%,
                                                 #5dbe62 50%,
                                                 #3bd047 51%,
                                                 #15e81e 100%);
    background-size: 16px 16px, auto; }
  progressbar.osd {
    min-width: 3px;
    min-height: 3px;
    background-color: transparent; }
    progressbar.osd trough {
      border-style: none;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none; }
    progressbar.osd progress {
      border-style: none;
      border-radius: 0; }

/*************
 * scrollbar *
 *************/

scrollbar {
  background-color: transparent;
  border: 0 none transparent;
  margin: 0;
  padding: 0; }
  * {
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true; }
  scrollbar.horizontal {
    background: linear-gradient(to top,
                                      @bg_color,
                                      shade(@bg_color, 0.98),
                                      shade(@bg_color, 0.9)
                                      ); }
  scrollbar.horizontal slider {
    border: 3px solid transparent;
    border-image: url("Scrollbars/slider-horiz.png");
    border-image-slice: 3 3 3 3;
    border-image-repeat: stretch;
    background: url("Scrollbars/handle-horiz.png") no-repeat center center, image(#e9eff6); }
    scrollbar.horizontal slider:hover {
      border-image: url("Scrollbars/slider-horiz-prelight.png");
      border-image-slice: 3 3 3 3;
      border-image-repeat: stretch;
      background: url("Scrollbars/handle-horiz-prelight.png") no-repeat center center, image(#cce8ff); }
    scrollbar.horizontal slider:hover:active {
      border-image: url("Scrollbars/slider-horiz-active.png");
      border-image-slice: 3 3 3 3;
      border-image-repeat: stretch;
      background: url("Scrollbars/handle-horiz-active.png") no-repeat center center, image(#dfedff); }
  scrollbar.vertical {
    background: linear-gradient(to left,
                                      @bg_color,
                                      shade(@bg_color, 0.98),
                                      shade(@bg_color, 0.9)
                                      ); }
  scrollbar.vertical slider {
    border: 3px solid transparent;
    border-image: url("Scrollbars/slider-vert.png");
    border-image-slice: 3 3 3 3;
    border-image-repeat: stretch;
    background: url("Scrollbars/handle-vert.png") no-repeat center center, image(#e9eff6); }
    scrollbar.vertical slider:hover {
      border-image: url("Scrollbars/slider-vert-prelight.png");
      border-image-slice: 3 3 3 3;
      border-image-repeat: stretch;
      background: url("Scrollbars/handle-vert-prelight.png") no-repeat center center, image(#cce8ff); }
    scrollbar.vertical slider:hover:active {
      border-image: url("Scrollbars/slider-vert-active.png");
      border-image-slice: 3 3 3 3;
      border-image-repeat: stretch;
      background: url("Scrollbars/handle-vert-active.png") no-repeat center center, image(#dfedff); }
  scrollbar.horizontal slider {
    min-width: 10px;
    min-height: 10px; }
  scrollbar.vertical slider {
    min-width: 10px;
    min-height: 10px; }
  scrollbar.fine-tune slider {
    margin: 1px;
    min-width: 10px;
    min-height: 10px; }
  scrollbar.overlay-indicator:not(.dragging):not(.hovering) {
    border: none;
    opacity: 1;
    background: none; 
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true; }
  scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical {
    border-right: 1px solid shade(@theme_bg_color); 
    background: linear-gradient(to left,
                                      @bg_color,
                                      shade(@bg_color, 0.98),
                                      shade(@bg_color, 0.9)
                                      ); }
  scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal {
    border-bottom: 1px solid shade(@theme_bg_color); 
    background: linear-gradient(to top,
                                      @bg_color,
                                      shade(@bg_color, 0.98),
                                      shade(@bg_color, 0.9)
                                      ); }
    scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider.vertical {
      margin: 0;
      min-width: 16px;
      min-height: 16px;
      background-image: none;
      background-color: transparent;
      background-clip: padding-box; 
      border: 3px solid transparent;
      border-image: url("Scrollbars/slider-vert.png");
      border-image-slice: 3 3 3 3;
      border-image-repeat: stretch;
      background: url("Scrollbars/handle-vert.png") no-repeat center center, image(#e9eff6); }
    scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider.horizontal {
      margin: 0;
      min-width: 16px;
      min-height: 16px;
      background-image: none;
      background-color: transparent;
      background-clip: padding-box; 
      border: 3px solid transparent;
      border-image: url("Scrollbars/slider-horiz.png");
      border-image-slice: 3 3 3 3;
      border-image-repeat: stretch;
      background: url("Scrollbars/handle-horiz.png") no-repeat center center, image(#e9eff6); }
  scrollbar.overlay-indicator.dragging, scrollbar.overlay-indicator.hovering {
    opacity: 1; }
  scrollbar button:active, scrollbar button:hover, scrollbar button:disabled, scrollbar button {
    padding: 0;
    min-width: 17px;
    min-height: 17px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -gtk-icon-source: none; }
  scrollbar.horizontal button.up {
    background: url("Scrollbars/left-stepper.png"); }
    scrollbar.horizontal button.up:hover {
      background: url("Scrollbars/left-stepper-prelight.png"); }
    scrollbar.horizontal button.up:hover:active {
      background: url("Scrollbars/left-stepper-active.png"); }
  scrollbar.horizontal button.down {
    background: url("Scrollbars/right-stepper.png"); }
    scrollbar.horizontal button.down:hover {
      background: url("Scrollbars/right-stepper-prelight.png"); }
    scrollbar.horizontal button.down:hover:active {
      background: url("Scrollbars/right-stepper-active.png"); }
  scrollbar.vertical button.up {
    background: url("Scrollbars/top-stepper.png"); }
    scrollbar.vertical button.up:hover {
      background: url("Scrollbars/top-stepper-prelight.png"); }
    scrollbar.vertical button.up:hover:active {
      background: url("Scrollbars/top-stepper-active.png"); }
  scrollbar.vertical button.down {
    background: url("Scrollbars/bottom-stepper.png"); }
    scrollbar.vertical button.down:hover {
      background: url("Scrollbars/bottom-stepper-prelight.png"); }
    scrollbar.vertical button.down:hover:active {
      background: url("Scrollbars/bottom-stepper-active.png"); }


