/********
 * menu *
 ********/
GtkTreeMenu.menu,
GtkMenuToolButton.menu,
GtkComboBox .menu {
    background-color: @menu_bg_color;
}

.primary-toolbar .menu,
.primary-toolbar .button .menu,
.toolbar .menu,
.toolbar .primary-toolbar .menu,
.header-bar .menu,
.header-bar .primary-toolbar .menu,
.menu {
    padding: 0;
    border-radius: 0;
    border-width: 1px;
    border-color: #888888;
    background-color: @menu_bg_color;
    color: @menu_fg_color;
}

/* Hover-effect on play-button in ubuntu soundmenu */
.menu:selected {
    background-color: @selected_bg_color;
}

.menu.button:hover,
.menu.button:active,
.menu.button:active *:insensitive,
.menu.button:insensitive,
.menu.button {
    border-width: 0;
    background-color: @menu_bg_color;
    background-image: none;
}

.context-menu {
    font: initial;
}

/* ubuntu software center menu */
#toolbar-popup {
    background-color: @menu_bg_color;
    color: @menu_fg_color;
}

/***********
 * menubar *
 ***********/
.menubar {
    -GtkWidget-window-dragging: true;
    background-color: @bg_color;
    background-image: linear-gradient(to bottom,
                      #FEFEFF,
                      #E5EAF5 35%,
                      #D4DBED 41%,
                      #E1E6F6);
    border-width: 0px 0px 1px 0px;
    border-color: #b6bccc;
    border-style: solid;

    color: @theme_fg_color;
}
