/***********
 * sidebar *
 ***********/
.sidebar,
.sidebar.view,
.sidebar .view,
placessidebar .view,
.sidebar scrolledwindow {
    background-color: @sidebar_bg_color;
    color: @sidebar_fg_color;
}

.sidebar row:selected,
.sidebar row:selected:hover,
.sidebar row:selected:focus,
.sidebar .view,
.sidebar .view:selected,
.sidebar .view:selected:hover,
placessidebar .view row:selected,
placessidebar .view row:selected:hover,
placessidebar .view row:selected:focus {
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @sidebar_fg_color;
}

.sidebar row:hover,
.sidebar .view:hover,
placessidebar .view row:hover {
    border-color: shade(@theme_selected_bg_color, 1.05);
    background-color: shade(@theme_selected_bg_color, 1.05);
    background-image: none;
    color: @sidebar_fg_color;
}

.sidebar row:selected:hover,
.sidebar .view:selected:hover,
placessidebar .view row:selected:hover {
    border-color: shade(@theme_selected_bg_color, 1.05);
    background-color: shade(@theme_selected_bg_color, 1.05);
    background-image: none;
    color: @theme_selected_fg_color;
}

.sidebar frame {
    border-width: 0;
}

placessidebar > viewport.frame {
    border-style: none;
}

placessidebar row {
    min-height: 36px;
    padding: 0px;
}

placessidebar row > revealer {
    padding: 0 14px;
}

placessidebar row image.sidebar-icon {
    opacity: 0.7;
}

placessidebar row image.sidebar-icon:dir(ltr) {
    padding-right: 8px;
}

placessidebar row image.sidebar-icon:dir(rtl) {
    padding-left: 8px;
}

placessidebar row label.sidebar-label:dir(ltr) {
    padding-right: 2px;
}

placessidebar row label.sidebar-label:dir(rtl) {
    padding-left: 2px;
}

button.sidebar-button {
    min-height: 26px;
    min-width: 26px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0;
    border-radius: 100%;
    -gtk-outline-radius: 100%;
}
