/*********
 * scale *
 *********/
.scale {
    -GtkRange-slider-width: 19;
    -GtkScale-slider-length: 11;
    -GtkRange-trough-border: 0;

    padding: 0;
    border-width: 1px;
    border-radius: 0px;
}

.scale.slider {
    border-radius: 0px;
    background-image: url('assets/slider-horiz.png');
}

.scale.slider:insensitive {
    border-radius: 0px;
    background-image: url('assets/slider-horiz-insensitive.png');
}

/* vertical sliders */
.scale.slider.vertical {
    border-radius: 0px;
    background-image: url('assets/slider-vert.png');
}

.scale.slider.vertical:insensitive {
    border-radius: 0px;
    background-image: url('assets/slider-vert-insensitive.png');
}

.scale.slider.fine-tune:active,
.scale.slider.fine-tune:active:hover,
.scale.slider.fine-tune.horizontal:active,
.scale.slider.fine-tune.horizontal:active:hover {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.scale.mark {
    border-color: shade(@theme_bg_color, 0.8);
}

.scale.trough {
    margin: 9px 0;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 0px;
    background-color: shade(@theme_bg_color, 1.08);
    background-image: none;
    border-image: none;
}

.scale.trough.vertical {
    margin: 0 9px;
}

.menuitem .scale.highlight.left,
.scale.highlight.left {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
    background-image: none;
}

.menuitem .scale.highlight.left:hover {
    border-color: shade(@theme_selected_bg_color, 0.8);
    background-color: shade(@theme_selected_bg_color, 0.8);
}

.scale.highlight.bottom {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
    background-image: none;
}

.scale.trough:insensitive,
.scale.highlight.left:insensitive {
    border-color: shade(@theme_bg_color, 0.85);
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
}
