/*********
 * scale *
 ********/
.scale {
    -GtkRange-slider-width: 16;
    -GtkRange-trough-border: 1;
    -GtkScale-slider-length: 16;

    padding: 0;
    border-width: 1px;
    border-radius: 2px;
}

.scale.slider {
    border-radius: 8px;
    background-color: shade(@theme_bg_color, 1.8);
    background-image: none;
    /* we will draw the border using box shadow for now */
    box-shadow: inset 1px 0 shade(@theme_bg_color, 0.8),
                inset 0 1px shade(@theme_bg_color, 0.8),
                inset -1px 0 shade(@theme_bg_color, 0.8),
                inset 0 -1px shade(@theme_bg_color, 0.8);
}

.scale.slider:hover {
    box-shadow: inset 1px 0 shade(@theme_bg_color, 0.7),
                inset 0 1px shade(@theme_bg_color, 0.7),
                inset -1px 0 shade(@theme_bg_color, 0.7),
                inset 0 -1px shade(@theme_bg_color, 0.7);
}

.scale.slider:insensitive {
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
    box-shadow: inset 1px 0 shade(@theme_bg_color, 0.85),
                inset 0 1px shade(@theme_bg_color, 0.85),
                inset -1px 0 shade(@theme_bg_color, 0.85),
                inset 0 -1px shade(@theme_bg_color, 0.85);
}

.scale.slider.fine-tune:active,
.scale.slider.fine-tune:active:hover,
.scale.slider.fine-tune.horizontal:active,
.scale.slider.fine-tune.horizontal:active:hover {
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
}

.scale.mark {
    border-color: shade(@theme_bg_color, 0.8);
}

.scale.trough {
    margin: 7px 0;
    border-color: shade(@theme_bg_color, 0.8);
    border-radius: 2px;
    background-color: shade(@theme_bg_color, 1.5);
    background-image: none;
}

.scale.trough.vertical {
    margin: 0 7px;
}

.menuitem .scale.highlight.left,
.scale.highlight.left {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
    background-image: none;
}

.menuitem .scale.highlight.left:hover {
    border-color: shade(@theme_selected_bg_color, 0.8);
    background-color: shade(@theme_selected_bg_color, 0.8);
}

.scale.highlight.bottom {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
    background-image: none;
}

.scale.trough:insensitive,
.scale.highlight.left:insensitive {
    border-color: shade(@theme_bg_color, 0.85);
    background-color: shade(@theme_bg_color, 0.9);
    background-image: none;
}
