/***********
 * toolbar *
 ***********/
.toolbar {
    padding: 4px;
    border-style: none;
    background-color: transparent;
    background-size: cover;
    background-image: url('assets/statusbar.png');
    color: @toolbar_fg_color;
}

.toolbar:backdrop {
    background-image: linear-gradient(to top, #4f88d6);
}

.toolbar .button {
    padding: 4px 4px;
}

.toolbar .button.text-button {
    padding: 2px 4px;
}

.toolbar .button.image-button {
    padding: 4px 3px 3px 4px;
}

.toolbar:insensitive {
    background-color: shade(@toolbar_bg_color, 0.9);
    color: mix(@toolbar_fg_color, @toolbar_bg_color, 0.5);
}

/* menubar toolbars */
.toolbar.menubar {
    -GtkToolbar-button-relief: normal;
}
