/*************
 * scrollbar *
 *************/

.scrollbar {
    -GtkRange-trough-border: 0;
    -GtkScrollbar-has-backward-stepper: 1;
    -GtkScrollbar-has-forward-stepper: 1;
    -GtkRange-stepper-size: 17;
    -GtkRange-slider-width: 17;
    -GtkScrollbar-min-slider-length: 18;
    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-under-steppers: 1;
}

.scrollbar.button,
.scrollbar.button:hover,
.scrollbar.button:active,
.scrollbar.button:active:hover,
.scrollbar.button:insensitive {
	-GtkRange-arrow-scaling: 0.0; /* dirty hack to use our buttons */
	border: 1px solid transparent;
	box-shadow: none;
	background-position: center center;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    color: transparent;
}

  .scrollbar .button.left {
    background-image: url("Scrollbars/left-stepper.png"); }
    .scrollbar .button.left:hover {
      background-image: url("Scrollbars/left-stepper-prelight.png"); }
    .scrollbar .button.left:hover:active {
      background-image: url("Scrollbars/left-stepper-active.png"); }
  .scrollbar .button.right {
    background-image: url("Scrollbars/right-stepper.png"); }
    .scrollbar .button.right:hover {
      background-image: url("Scrollbars/right-stepper-prelight.png"); }
    .scrollbar .button.right:hover:active {
      background-image: url("Scrollbars/right-stepper-active.png"); }
  .scrollbar .button.top {
    background-image: url("Scrollbars/top-stepper.png"); }
    .scrollbar .button.top:hover {
      background-image: url("Scrollbars/top-stepper-prelight.png"); }
    .scrollbar .button.top:hover:active {
      background-image: url("Scrollbars/top-stepper-active.png"); }
  .scrollbar .button.bottom {
    background-image: url("Scrollbars/bottom-stepper.png"); }
    .scrollbar .button.bottom:hover {
      background-image: url("Scrollbars/bottom-stepper-prelight.png"); }
    .scrollbar .button.bottom:hover:active {
      background-image: url("Scrollbars/bottom-stepper-active.png"); }

.scrollbar.trough,
.scrollbar.trough.horizontal,
.scrollbar.trough.vertical {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background-image: linear-gradient(to bottom,
                                      @bg_color,
                                      shade(@bg_color, 0.98),
                                      shade(@bg_color, 0.9)
                                      );
}

.scrollbar.trough,
.scrollbar.trough.vertical {
    background-image: linear-gradient(to left,
                                      @bg_color,
                                      shade(@bg_color, 0.98),
                                      shade(@bg_color, 0.9)
                                      );
}

.scrollbar.slider {
    border: 3px solid transparent;
    border-radius: 0;
    border-image-repeat: stretch;
    box-shadow: none;
    background: #e0e0e0;
    margin-left: 1px;
}

.scrollbar.slider:hover {
    background-color: #e4e4e4;
}

.scrollbar.slider:active {
    background-color: #d1d1d1;
}

.scrollbar.slider,
.scrollbar.slider.vertical,
.scrollbar.slider:hover,
.scrollbar.slider.vertical:hover {
	border-image: url("Scrollbars/slider-vert.png");
	border-image-slice: 3 3 3 3;
}

.scrollbar.slider:active,
.scrollbar.slider.vertical:active {
	border-image: url("Scrollbars/slider-vert-active.png");
	border-image-slice: 3 3 3 3;
}

.scrollbar.slider.horizontal,
.scrollbar.slider.horizontal:hover {
	border-image: url("Scrollbars/slider-horiz.png");
	border-image-slice: 3 3 3 3;

}
.scrollbar.slider.horizontal:active {
	border-image: url("Scrollbars/slider-horiz-active.png");
	border-image-slice: 3 3 3 3;
}

.scrollbar.slider.fine-tune {
	margin: 1px;
}
