
/* headerbar separator */
.header-bar .separator,
.header-bar .separator:insensitive {
    border-color: shade(@theme_bg_color, 0.7);
    color: shade(@theme_bg_color, 0.7);
}

.primary-toolbar .button .separator,
.primary-toolbar .button.separator,
.toolbar .button .separator,
.toolbar .button.separator {
    border-color: shade(@toolbar_bg_color, 0.95);
}

.header-bar .button .separator,
.header-bar .button.separator,
.titlebar .button .separator,
.titlebar .button.separator {
    border-color: shade(@titlebar_bg_color, 0.95);
}

.primary-toolbar .button .separator:insensitive,
.primary-toolbar .button.separator:insensitive,
.toolbar .button .separator:insensitive,
.toolbar .button.separator:insensitive {
    border-color: shade(@toolbar_bg_color, 0.85);
}

.header-bar .button .separator:insensitive,
.header-bar .button.separator:insensitive,
.titlebar .button .separator:insensitive,
.titlebar .button.separator:insensitive {
    border-color: shade(@titlebar_bg_color, 0.85);
}
